[2017-08-12 01:51] dhimmel opened #4 "Update Manubot"
@agitter we should merge in the latest changes from manubot-rootstock.

I've done this process several times and don't find it too difficult. But if you would like to try for experience, go ahead. We could also video chat or something, so I could walk you though the process.

The merge commit will look something like https://github.com/greenelab/scihub-manuscript/commit/9402260dbcfdd5b7d716b6badb8

[2017-08-12 12:32] agitter commented on #4
@dhimmel If you don't mind, I'd prefer to have you do it.  Even if the merge isn't too complicated, my time to work on this has been limited so I'd like to focus on drafting the discussion next.

[2017-08-14 15:19] #4 closed

[2017-09-29 16:35] agitter opened #8 "Initial submission to eLife: timeline & updates"
We are fairly close to having a full draft ready for submission.  @dhimmel and @cgreene do you have any thoughts on a timeline?  The remaining tasks are the Manubot section, addressing the many inline TODOs, and perhaps a figure to illustrate the issue and pull request system.

[2017-09-29 16:50] dhimmel commented on #8
@agitter I'll get to work! Hopefully I can knock most of the Manubot content out next week... I begun yesterday!

[2017-09-29 18:38] agitter commented on #8
Great!  I think I nagged @cgreene enough to get it on his TODO list also.

Any thoughts on a figure?  I have no graphic design skill so if I draft it, it would have to be screenshot-based.

[2017-10-02 17:52] agitter opened #11 "Convert URL citations to hyperlinks"
Follow the criteria for [citeable work](https://github.com/greenelab/meta-review/pull/9#discussion_r142155007) in #9

[2017-10-05 14:11] cgreene commented on #8
I have addressed the major TODOs that I think were assigned to me. :smile: I agree that a quick timeline is good.

[2017-10-05 20:45] agitter commented on #8
What do both of you think about a figure?  If we skip that, we could finish a full draft within a week.

[2017-10-05 20:56] dhimmel commented on #8
I think we should have a figure or two. Here are areas of interest:

1. screenshots of the contribution life cycle. Pull request / review comments > merged commit > Travis CI build / updated manuscript.
2. citation exposé showing how the Manubot does citations / references
3. Deep Review contribution plot. Here are possibilities: [Rephetio](http://git.dhimmel.com/rephetio-manuscript/#fig:contribut

[2017-10-05 21:16] agitter commented on #8
Those are all excellent ideas.  1 is the most essential because it will help readers understand the main idea and contribution.

For 3, are those figures easy to generate automatically from a commit history or does it take some manual effort?  What would the cognoma graphic look like for us because we only have one repo?  Markdown files by users?  I like the static figures better than the video.

[2017-10-08 10:59] rgieseke opened #13 "GitHub/Zenodo integration"
GitHub is mentioned quite often in this manuscript, but it might be helpful to point it out that it's not technically tied to this platform.

Another thing worth mentioning might be the simple integration with Zenodo or Figshare to get a permanent archived version and doi for a manuscript version.

[2017-10-08 12:01] agitter commented on #13
Thanks, those are good suggestions.

For deep review, we used bioRxiv to obtain a doi for the pdf of a specific version of the manuscript.  [This report](https://github.com/zietzm/Vagelos2017) used FigShare for a manubot-generated manuscript.  A doi of the full repository with Zenodo integration would serve a slightly different purpose and could be worth mentioning too

[2017-10-09 22:11] dhimmel commented on #13
Good point. We should mention that switching from GitHub / Travis CI would not be too difficult, should one of these services cease or start charging $$$.

This is a separate issue than Zenodo / Figshare integration. Those both give DOIs to GitHub releases, IIRC. It's good for longterm preservation, but it's not great IMO for giving a DOI to the manuscript, since the DOI won't resolve to a version

[2017-10-10 09:04] rgieseke commented on #13
On the Zenodo/Figshare integration: When posting I had thought that the compiled PDF/HTML were in the same branch as the source files, but they are on `gh-pages` and `output` so archiving would not automatically include both sources and output.

Have you considered using the '/docs' directory for rendered webpage output? It might require one more step to enable the GitHub pages rendering by switch

[2017-10-10 15:45] dhimmel commented on #13
The decision not to include any output in the `master` branch was intentional. Primarily, output in `master` creates a burden on users to build the manuscript locally (or else have an incomplete PR). We could use CI to commit back to master with output, but that can become trigger race conditions (build starts, someone merges a different PR, then build finishes).

Yeah, I think an automated method

[2017-10-10 20:49] dhimmel opened #14 "Reference journals/publishers that publish using GitHub"
There are at least two:

[code]

[2017-10-10 20:56] agitter commented on #14
I added JOSS and ReScience to the Discussion in #6, but I wasn't aware of the other Open Journals.

[2017-10-12 18:30] agitter opened #15 "Google Drive versioning"
[Jenny Bryan's tweet](https://twitter.com/JennyBryan/status/918511370303258624) about Google Drive versioning caught my eye.  We tested collaborative edits in a Google Doc a few months ago but should confirm what we wrote here is still accurate.

[2017-10-17 21:50] dhimmel opened #17 "Citation: the appropriation of GitHub for curation"
Perhaps worth looking into and citing [The appropriation of GitHub for curation](https://doi.org/10.7717/peerj-cs.134), a new article in the respected _PeerJ Computer Science_ Journal:

Review papers are sort of like these curated READMEs.

[2017-10-18 14:32] agitter commented on #17
Seems like a good fit to me.  https://github.com/gokceneraslan/awesome-deepbio and https://github.com/pimentel/deep_learning_papers served as a foundation for deep review.

This might fit well in the first Discussion paragraph.

[2017-10-18 21:39] #11 closed

[2017-10-21 11:44] agitter commented on #15
I looked at the new features in our `permission-test` Google doc from the summer.  Naming versions seems similar to tagging a commit.  The name replaces the default name, which is a date stamp.

The new collaborative features are enhanced support for accepting or rejecting suggestions (proposed edits).  There is a button to preview the document after accepting or rejecting all suggestions and a wa

[2017-10-21 11:44] #15 closed

[2017-10-21 12:01] agitter commented on #13
#9 added a few lines about GitHub / Travis CI and states that alternatives exist.  Is there anything else we want to add to this manuscript regarding Zenodo, Figshare, or DOI strategies?  If not, we can close this and move the discussion of auto-archiving to manubot-rootstock.  This also relates to our discussion of auto-archiving issues and reviews (greenelab/manubot-rootstock#45).

[2017-10-23 15:42] dhimmel opened #22 "Refer to the Deep Review explicitly"
From https://github.com/greenelab/meta-review/pull/16#discussion_r146103301 by @agitter

My opinion is that we should explicitly refer to the Deep Review, early and often. This will make the manuscript more concrete and will help associate it with the Deep Review's burgeoning brand.

[2017-10-23 17:16] dhimmel commented on #13
I think it'd be premature to recommend Zenodo archiving. It's not an ideal way to mint a DOI as either:

1. the DOI should refer to just the manuscript and redirect to a view of the manuscript
2. the DOI should refer to the entire git contribution history and redirect to some archive

Zenodo is more like 2, but does not preserve the git history. So I'm in favor of closing as solutions may come alo

[2017-10-23 20:04] dhimmel opened #23 "Templating quantitative values"
Certain numbers should be calculated and inserted into the manuscript via template. This will provide a proof of concept use for our templating and end-to-end reproducibility claims. In addition, it will make the manuscript easier to maintain as the numbers change.

@agitter do you want to list all the metrics you'd like me to calculate? Some thoughts are:

+ number of deep review contributors
+ n

[2017-10-23 23:56] agitter commented on #13
I'm closing this because we don't have any concrete recommendations about DOIs to add to the meta review.

@rgieseke if you'd like to discuss DOI strategies or output file organization, let's continue the discussion at manubot-rootstock.

[2017-10-23 23:56] #13 closed

[2017-10-23 23:56] agitter commented on #14
Closed by #19

[2017-10-23 23:56] #14 closed

[2017-10-23 23:57] agitter commented on #17
Closed by #19

[2017-10-23 23:57] #17 closed

[2017-10-24 00:10] agitter commented on #22
Deep Review works for me internally, but I considered it too ambiguous to use externally.  I'm fine using it as long as we introduce it in the second intro paragraph.  Having the specific name will make other sections more readable.

[2017-10-24 00:21] agitter commented on #23
The stats I find most interesting are:
- number of authors from `authors.tsv`
- number of contributors who made their first contribution after May 28, 2017

Also interesting:
- number of deep review commits
- number of accepted deep review pull requests.

Do you think contributors is better than authors?  I was thinking we'd have the author count be consistent with the latest version of paper on b

[2017-11-01 16:24] #23 closed

[2017-11-02 21:36] dhimmel opened #25 "References to existing collaborative writing projects and reviews"
It dawned on me that Wikipedia is quite similar to a collaboratively written review. For example, we could have made a page titled "Precision medicine in deep learning". Wikipedia is more removed from academia, but we should consider a mention and a few references on its power versus pitfalls.

As far as more traditional academic review articles written collaboratively, I think [A multi-disciplina

[2017-11-02 21:54] Protohedgehog commented on #25
Hey Dan,

So, yeah, Wikipedia is a special case of collaborative authoring. If you see Section 3.5 of the paper you mention (read only link to current version on Overleaf: https://www.overleaf.com/read/bfczqxwyhykk), you can see some discussion and examples of how this happens.

So, yeah, for this paper, and a previous one (https://f1000research.com/articles/5-632/v3) we used a similar authoring m

[2017-11-02 21:57] dhimmel commented on #25
@Protohedgehog thanks for the info. We'll make sure to reference these projects in our [Meta Review](https://greenelab.github.io/meta-review/) (still a work in progress) and will ping you with any other questions we have about your setup!

[2017-11-02 22:07] Protohedgehog commented on #25
Alright, sweet! I'm at your disposal. If you happen to be in Berlin next week for certain things, you know where to find me!

[2017-11-03 02:56] agitter commented on #25
@dhimmel we're currently citing the peer review paper for its discussion of open review and review on GitHub.  We should definitely mention it again as a collaborative writing example.

[2017-11-10 23:15] agitter commented on #8
I'm following up on this figure idea

I looked through some of the deep review pull requests.  greenelab/deep-review#286 and greenelab/deep-review#347 stood out as two where there was discussion, user tagging, issue referencing that will illustrate advantages of GitHub.  We could show panels with:

1. Review comments
![image](https://user-images.githubusercontent.com/3532898/32682429-363ceaea-c63a

[2017-12-08 16:54] agitter opened #27 "Overleaf"
I started using Overleaf for a project, and we may need to update our discussion of it in this manuscript.  I'll learn more over the next few days, but it appears to have fairly good git support.  I can see the git log, and the commits are anonymous if made directly on the Overleaf website without signing in or associated with the user name and email if made when logged it.

[code]

[2017-12-08 19:49] dhimmel commented on #27
That's nice that Overleaf maintains an underlying git repo.

The differences with Manubot (correct me if I'm wrong):

+ With Manubot you get to apply the open source software development model to modifying the manuscript. Does Overleaf support something analogous to a fork/branch and a corresponding pull request? From the [Overleaf blog](https://www.overleaf.com/blog/195-new-collaborate-online-and

[2017-12-08 20:16] agitter commented on #27
Your list seems correct to me thus far, though I still haven't done much with Overleaf.  The software development approach is a huge difference that we may want to emphasize even more in the meta review.  It looks like Overleaf supports comments on the manuscript, but I can't image coordinating and writing the deep review with comments alone for author communication, organization, and feedback.

[2017-12-21 22:16] cgreene commented on #8
Hmm, I think I might just do part 1 and 2. It's nice to see the changes overall but the "before" part of that screenshot isn't too interesting. I agree though, it's a lot of text. I wonder if a schematic in the paper and the full example as a supplementary figure is better...

[2017-12-22 12:50] agitter commented on #8
You're right, there isn't much interesting content per pixel there.  I agree that a schematic would be much better than screenshots.  I just don't have the graphical skills to make a nice one.

If none of us can make a schematic, should we create a new pull request designed to showcase these features instead of trying to find an existing one?  It doesn't have to be from deep review, we could engin

[2017-12-22 15:01] cgreene commented on #8
![manubot-draft](https://user-images.githubusercontent.com/542643/34302462-f917d07c-e6fe-11e7-9b5f-691ac7c21bf4.png)

I tried just to keep the focus on the most important bits. I made it in powerpoint, so I have a pptx file.

[2017-12-22 15:02] cgreene commented on #8
here's the file in case you want to edit https://www.dropbox.com/s/7nqn77igjophuhz/manubot-draft.pptx?dl=0

[2017-12-23 13:31] agitter commented on #8
This simplified version is _much_ better than a raw screenshot.  Want to make a pull request to add this figure?  You can also put the pptx in `content/images` in case we need to edit it later.

I had de-prioritized this manuscript when I got caught up with others, but do we want to try to have a finished draft before we resubmit deep review?  It would help simplify our deep review methods section

[2017-12-23 15:04] dhimmel commented on #8
I actually think the Meta Review will be best after the deep review resubmission, when the contribution figure stabilizes. Both the Manubot and Deep Review are still progressing rapidly, so the Meta Review will get incomplete / outdated quickly.

I'll take another look at the Deep Review methods.

[2017-12-23 20:53] agitter commented on #8
That makes sense now that we have an ongoing burst of deep review contributions.

[2018-01-08 15:11] dhimmel commented on #25
# The HoTT book

I just learned about the HoTT Book completed in 2013. From this [blog post](http://math.andrej.com/2013/06/20/the-hott-book/):

The GitHub is https://github.com/HoTT/book and there's a webpage for the book at https://homotopytypetheory.org/book/.

Cool!

[2018-01-08 19:54] agitter commented on #25
This is a great example!  We should cite it.  At a glance, they used issues, pull request, and reviews in a similar manner to deep review.

[2018-01-21 21:24] agitter commented on #25
Another collaborative paper (via Google Docs) described [here](http://www.sciencemag.org/news/2018/01/nearly-100-scientists-spent-2-months-google-docs-redefine-p-value-here-s-what-they-came) `10.1126/science.aat0471`.

https://doi.org/10.1038/s41562-018-0311-x
https://doi.org/10.17605/OSF.IO/9S3Y6

[2018-01-23 16:16] agitter commented on #27
I haven't confirmed this, but I believe that if multiple authors are editing at the same time then their edits can all be associated with the same git commit with a single author.  We could easily create a test document to confirm this if it is important for our discussion.

[2018-01-25 22:12] agitter commented on #8
Now that deep review has been resubmitted, I wanted to ping both of you (@cgreene @dhimmel) to think about our timing again.  This is not really a good time for me to work on this, and I see you are both working on SciHub (among other things).  However, the anticipated deep review coverage might provide a golden opportunity to submit meta review while interest in the process is high.

What do you

[2018-01-26 00:00] cgreene commented on #8
I think that we will never have a "good" time to work on something like this, but this is probably the right time to work on it. We should press onward and get it submitted. I can shift some focus to this on or about Feb 5 if that's ok. I've got a trip next week that should be more or less all consuming.

[2018-01-26 12:12] agitter commented on #8
Sounds good to me.  I'll block off some time for this starting Feb 3 or 4.

@dhimmel I won't edit anything until we merge #26.

[2018-02-02 19:46] dhimmel commented on #8
Okay I'll try to resume work on #26 next week.

I agree. I think finishing v1 of the meta review shortly after the deep review is published makes sense.

[2018-02-06 14:44] agitter opened #30 "Discuss Bookdown"
[Bookdown](https://github.com/rstudio/bookdown) is a related project for R Markdown-based publishing, with many examples at https://bookdown.org/

@michaelmhoffman pointed out https://github.com/jeroenjanssens/data-science-at-the-command-line as an example of continuous integration + bookdown.  I haven't checked whether all bookdown projects have continuous integration included or if that is a spe

[2018-02-15 12:42] cgreene opened #31 "revise to clearly identify problems/solutions for biomedical publishing challenges"
In #26  @agitter noted that we should make sure that the article is accessible to people who may not care about Deep Review specifically but who do care about the problems that we solved while writing it.

https://github.com/greenelab/meta-review/pull/26/files#r168458296

This tracks our consideration of these points as we revise.

[2018-02-15 18:19] cgreene opened #32 "Bitcoin section may not be ideal for a general audience."
In #26 @agitter noted that the bitcoin/blockchain section may not be interpretable to a general audience. I can take a stab at revising this section after #26 is merged.

[2018-02-16 13:08] #22 closed

[2018-02-16 15:02] agitter commented on #32
In addition to making the last couple lines of the timestamping paragraph accessible to a general audience, I suggest we cite https://petertodd.org/2016/opentimestamps-announcement.  This was a huge help for me to understand what the `ots` client is doing.

[2018-02-16 15:12] agitter opened #33 "Acknowledging manubot contributors"
If the meta review is also going to be the primary manubot reference, should we start to compile a list of contributors, testers, etc. from the manubot and manubot-rootstock repos?

[2018-02-20 20:54] cgreene opened #36 "CDF of Deep-Review reference list"
It might be nice to highlight some of the items that the programmatic DOI collection gives us. We could implement this (suggested by @michaelmhoffman) to show off some of that:
https://twitter.com/michaelhoffman/status/966051493211127808

[2018-02-20 22:26] agitter commented on #36
Visualizing the reference counts over time should be feasible for the more recent versions of deep review.  At some point, Manubot started storing these in one of the [output JSON files](
https://github.com/greenelab/deep-review/blob/adbf7807d68e15a7742ab5beb1d754326c1d9261/variables.json#L618-L625)
[code]

[2018-02-20 22:28] michaelmhoffman commented on #36
The idea is a plot of publication dates for the references, not date the reference was added to the review.

[2018-02-20 22:32] agitter commented on #36
Focused on only the publications that are cited in deep review or a more general scrape of relevant articles over time like [this review](https://arxiv.org/abs/1603.06430)?
![image](https://user-images.githubusercontent.com/3532898/36452789-6d40621c-165b-11e8-9995-f7d742e62255.png)

I'm assuming the former.

[2018-02-21 20:28] #32 closed

[2018-02-25 23:56] michaelmhoffman commented on #36
I meant the former, and also daily or monthly counts, not annual.

[2018-03-20 19:41] dhimmel commented on #25
https://github.com/bitcoinbook/bitcoinbook
https://github.com/ethereumbook/ethereumbook

[2018-03-23 18:33] #25 closed

[2018-06-14 13:48] cgreene opened #39 "Define section tenses and edit to match"
Certain sections switch tense pretty frequently. We should define tenses for sections and stick to them unless a tense shift is specifically warranted. Here are my proposed tenses:

* Introduction -> Present
* Contribution Workflow -> Present except when specifically about deep review.
* Manubot -> Past for implementation, present for features
* Authorship -> Past
* Discussion -> Present

[2018-06-14 14:09] cgreene opened #40 "Make github workflow figure"
#8 has some parts about PR commenting. This would be more general. I'll start with a sketch and then we can discuss improvements.

[2018-06-14 14:11] cgreene opened #41 "Identify specific deep review example"
We want a contribution from reader identifies change -> file issue & discuss -> file PR & discuss -> final revisions to PR -> final merging.

@agitter do you want to come up with one of these examples that you particularly like as an exemplar workflow?

[2018-06-14 14:12] cgreene opened #42 "Incorporate additional Deep Review and/or Manubot stats"
Table to show scale of content of the project.

[2018-06-14 14:13] cgreene opened #43 "Intro choppy and needs smoothing"
Deep review = motivating example, but we need to smooth things over. @agitter will make a first pass.

[2018-06-14 14:20] cgreene opened #44 "Evaluate features of Manubot alternatives"
We should check how the features that we discuss relate to the features existing in Overleaf/Authorea.

Authorea + Bibtex (@cgreene will explore) -> Casey
Overleaf + Bibtex (@agitter will explore) ->
Google Docs + Paperpile (@cgreene) ->
Word (Installed) + Ref Management Software (@cgreene)->
Word (Office 365) + Ref Management Software (maybe @agitter) ->
Markdown on Github (@cgreene will fill in)

[2018-06-14 14:27] cgreene opened #45 "Paragraph describing Manubot usage"
Describe other projects that have used it.

[2018-06-14 14:27] cgreene opened #46 "Manubot goals & vision"
Add to the discussion

[2018-06-14 14:31] cgreene opened #47 "Note interactive alternative/complementary projects in discussion"
The table will focus on broader competitors to the journal workflow. It would be good to note specific alternatives (e.g., distill.pub, idyll, the Calico folks system).

[2018-06-14 14:42] cgreene opened #48 "concrete citation examples"
This would be a nice table. We would have a concrete example of - the DOI/PMID/arXiv style of citation, how it appears in the text, and then how the reference appears.

[2018-06-14 14:43] cgreene opened #49 "Title: We should have one"

[2018-06-14 14:49] cgreene opened #50 "Ping deep-review contributors to determine if they want to be acknowledged"
We will `@mention` the contributors to each here. Those who respond by a defined date will be included with the acknowledgements.

[2018-06-14 14:53] cgreene opened #51 "Re-run Fig 1 up to V1.0 tag (March 6)."

[2018-06-14 14:58] agitter commented on #51
Brett's name is truncated in the `deep-review-contribution.*` images.  We're not using them so it isn't critical to fix this when we rerun.

[2018-06-14 15:19] agitter commented on #41
One option: protein-protein interactions:
- Issues https://github.com/greenelab/deep-review/issues/575 and https://github.com/greenelab/deep-review/issues/689
- Pull request https://github.com/greenelab/deep-review/pull/638

A downside of this example is that it took a long time to review and merge the pull request.

[2018-06-14 16:54] cgreene commented on #40
![img_20180614_111521](https://user-images.githubusercontent.com/542643/41426583-16212fc2-6fd2-11e8-9a66-0c2d7809a0ac.jpg)
I drew this on a whiteboard. After conversation with @agitter and @dhimmel we agreed to move forward with making something like this.

[2018-06-14 16:55] cgreene commented on #40
I used google draw to create this. Version 1.0.0 is here. Feel free to edit: https://docs.google.com/drawings/d/17mst0Z1RMXegeGhM6SwQSJ4nhHgMMh5csyV4MwhsgAY/edit
![process-figure](https://user-images.githubusercontent.com/542643/41426626-3b29fa10-6fd2-11e8-938d-44e3b19cd1af.png)

[2018-06-14 16:56] cgreene commented on #40
Slight update in the google doc (not reflected here) to remove the extra box around the checkmark.

[2018-06-14 16:59] dhimmel commented on #46
Much of this content will come from https://greenelab.github.io/manufund-2018/. For example,

[2018-06-14 17:05] dhimmel commented on #40
Nice! Not sure I understand what qualifies lines as being colored/dashed.

[2018-06-14 17:12] agitter commented on #40
That looks great.  I moved `Document` to center it above the rectangles.

Do we want the circle and arrow coming from the main branch to the Discussion column?  I interpret the circles as git commits, but that may not be the intention.

[2018-06-14 17:15] cgreene commented on #40
I was trying to make the circles on the arrows as git commits. I was trying to make the circles associated with comments an indicator of who was saying them. However, in retrospect, maybe most of these can be removed.

Colored arrows are: someone has made a change to the document in the repository.

Colored squiggles are text written by the person matching the color.

[2018-06-14 17:23] agitter commented on #40
I like the colored circles.  My confusion was only the black circle that creates an issue.

[2018-06-14 17:24] cgreene commented on #44
Proposed features for matrix:

* Multi-author editing
* Propose changes
* Multi-participant conversation for changes
* Character-level provenance for text
* Bibliography management
* Cite by common identifiers
* Pricing
* Editing software
* Document type

[2018-06-14 17:27] cgreene commented on #44
Something about ease of use might be good to include too. But some of these are questionable ease of use. Like the git-based forms of overleaf may require the knowledge while general use doesn't. But you'd only get character-level attributions if you use the git backend and don't edit concurrently.

[2018-06-14 17:30] cgreene commented on #40
Whoops! Yes - that should not have a circle there. And there should be one where the green arrow comes back in.

[2018-06-14 17:30] cgreene commented on #40
Another question - what color should the circle be at that stage? Purple or black?

[2018-06-14 17:32] cgreene commented on #40
I went with purple. I think it more clearly notes that the version contains the changes proposed by the purple contributor.

[2018-06-14 17:33] cgreene commented on #40
This is also a squash-merge situation unless we add another dot between the two edits from the purple contributor.

[2018-06-14 17:44] cgreene commented on #41
I think this is ideal. It did take a long time to merge, but it did get merged and it even shows a new contributor to the project. 👍

[2018-06-14 17:51] cgreene commented on #50
Hello Deep Review folks! We are writing a manuscript describing manubot that talks about the deep review process. We would like to acknowledge you by name. Please let us know if you approve and, if so, what name you would like us to use. @traversc @brettbj @alxndrkalinin @bdo311 @gwaygenomics @enricoferrero @agapow @zietzm @michaelmhoffman @xieconnect @gailrosen @blengerich @jisraeli @jacklanchant

[2018-06-14 17:52] gailrosen commented on #50
Sure.  Gail Rosen

[2018-06-14 17:53] AnneCarpenter commented on #50
Sure, the same name as on the paper would be fine.

--
Sent from my mobile phone

[2018-06-14 17:53] srinituraga commented on #50
Srinivas C. Turaga

[2018-06-14 17:54] dhimmel commented on #51
Okay I will fast forward the deep-review submodule to https://github.com/greenelab/deep-review/commit/63d2468883ea69ad7ad638c39efab0fcbe026298, which is the last commit on 2018-03-06.

[2018-06-14 17:54] agitter commented on #40
I like this version.  If we have colors for some of the lines and arrows, should we color more of them?  Or make all lines and arrows black and let the circles, text, and squiggles denote who took what action?

[2018-06-14 17:54] evancofer commented on #50
Thanks! I approve. The name to use is Evan M. Cofer

On Thu, Jun 14, 2018, 1:51 PM Casey Greene <notifications@github.com> wrote:

[2018-06-14 17:54] akundaje commented on #50
Yes approved

On Thu, Jun 14, 2018 at 10:51 AM Casey Greene <notifications@github.com>
wrote:

[2018-06-14 17:55] sw1 commented on #50
Stephen Woloszynek

________________________________
From: Casey Greene <notifications@github.com>
Sent: Thursday, June 14, 2018 1:51:53 PM
To: greenelab/meta-review
Cc: Stephen Woloszynek; Mention
Subject: Re: [greenelab/meta-review] Ping deep-review and manubot-rootstock contributors to determine if they want to be acknowledged (#50)

Hello Deep Review folks! We are writing a manuscript describi

[2018-06-14 17:55] alxndrkalinin commented on #50
I approve too: Alexandr A. Kalinin

[2018-06-14 17:56] lavenderca commented on #50
Sure!  Christopher Lavender

On Thu, Jun 14, 2018 at 1:55 PM Stephen Woloszynek <notifications@github.com>
wrote:

[2018-06-14 17:56] michaelmhoffman commented on #50
Sure. `Michael M.\ Hoffman`. You can use the same ORCID as in the manuscript.

[2018-06-14 17:56] laurakwiley commented on #50
Sure, Laura K. Wiley

Laura Wiley, Ph.D.
Assistant Professor
Division of Biomedical Informatics and Personalized Medicine
University of Colorado Anschutz Medical Campus

On Thu, Jun 14, 2018 at 11:51 AM, Casey Greene <notifications@github.com>
wrote:

[2018-06-14 17:56] cgreene commented on #40
I'm happy to make all of the arrows black. The one I really cared about when I made it was the bottom dotted arrow, to show that the purple contributor was making that change in response to the orange participant. I also made the one above to show that the purple contributor makes the PR to suggest the change, but I care less about that.

[2018-06-14 17:58] yfpeng commented on #50
Sure. Thanks! – Yifan Peng

[2018-06-14 18:00] qiyanjun commented on #50
I approve. Thanks! - Yanjun Qi

[2018-06-14 18:03] cgreene commented on #31
With #54 I think we can safely close this.

[2018-06-14 18:03] #31 closed

[2018-06-14 18:03] j3xugit commented on #50
fine with me.

On Thu, Jun 14, 2018 at 12:58 PM, Yifan Peng <notifications@github.com>
wrote:

--
_________________________________________
Professor
Toyota Technological Institute at Chicago
6045 S. Kenwood Ave.
Chicago, IL 60637
fax: 773 834 2557, Google Voice: 773 359 3721
http://ttic.uchicago.edu/~jinbo/

[2018-06-14 18:04] jacklanchantin commented on #50
Yes, I approve. You can use Jack Lanchantin

On Thu, Jun 14, 2018 at 10:51 AM Casey Greene <notifications@github.com>
wrote:

[2018-06-14 18:05] agitter commented on #44
I like the features in principle, but when I think about how to fill out the table there is a lot of grey area.  For example, Overleaf, Word, etc. allow comments on the text that could support multi-participant conversation, but it would be a very poor way to execute that.

Other feature ideas:
- Revert to previous versions
- Templating
- Automatically reject breaking changes (integration testing)

[2018-06-14 18:06] dhimmel commented on #51
Actually https://github.com/greenelab/deep-review/commit/63d2468883ea69ad7ad638c39efab0fcbe026298 which has the [v1.0 tag](https://github.com/greenelab/deep-review/releases/tag/v1.0)

[2018-06-14 18:08] agitter commented on #40
I have a slight preference for all black arrows.  It keeps me focused on the colors that matter the most.

@dhimmel what do you think?

[2018-06-14 18:10] brettbj commented on #50
Sure

[2018-06-14 18:13] agitter commented on #51
Do multiple commits show the `v1.0` tag?
- https://github.com/greenelab/deep-review/commit/63d2468883ea69ad7ad638c39efab0fcbe026298
- https://github.com/greenelab/deep-review/commit/9c2d9c26b8fd40c321a80b854e2e74677cd38c79
- https://github.com/greenelab/deep-review/commit/fafc92abf2716166060a22a3bc60d123011d3e5f

[2018-06-14 18:14] agitter commented on #51
The `v1.0` tag symbol might show up for all commits that came after `v0.10` up to `v1.0`.

[2018-06-14 18:15] dhimmel commented on #51
@agitter yeah, I'm cunfused. I think https://github.com/greenelab/deep-review/commit/63d2468883ea69ad7ad638c39efab0fcbe026298 from https://github.com/greenelab/deep-review/releases/tag/v1.0 is correct. Perhaps the tag just means that commit was first released by that tag?

[2018-06-14 18:15] agitter commented on #51
Yes, I think so

[2018-06-14 18:16] cgreene commented on #44
https://docs.google.com/spreadsheets/d/1AMjzH1a9YB3Y71g0JN-oRQJlGQ-oNjRaHyOJQLEA1aM/edit#gid=0

[2018-06-14 18:16] cgreene commented on #44
☝️ I made a google drive sheet if we want to start filling in there.

[2018-06-14 18:16] blengerich commented on #50
Sure - Ben Lengerich.

Ben Lengerich <http://www.cs.cmu.edu/~blengeri/> | PhD Student, Carnegie
Mellon University

[2018-06-14 18:26] traversc commented on #50
Sure -- Travers Ching.

[2018-06-14 18:27] davharris commented on #50
Great.

David J. Harris

[2018-06-14 18:28] cgreene commented on #40
I made all the arrows black. It is easy to change back if desired.

[2018-06-14 18:29] cgreene commented on #40
![process-figure 1](https://user-images.githubusercontent.com/542643/41430906-51d2c08c-6fdf-11e8-9f57-fd0f9ba22fc8.png)

This is version 1.0.1 (current)

[2018-06-14 18:29] #43 closed

[2018-06-14 18:30] agitter commented on #49
Closed by #54

[2018-06-14 18:30] #49 closed

[2018-06-14 18:33] luzh2 commented on #50
Sounds good to me. Thanks!
Zhiyong Lu

[2018-06-14 18:39] DaveDeCaprio commented on #50
Approved.  Use Dave DeCaprio

[2018-06-14 18:40] AvantiShri commented on #50
Sure, Avanti Shrikumar. Thanks!

[2018-06-14 18:54] dhimmel commented on #51
Fixed in #56

[2018-06-14 19:08] dhimmel commented on #36
I am going to close this as I don't think it's on the roadmap currently for the Meta Review. If someone is interested in this, they can perform the analysis elsewhere.

[2018-06-14 19:08] #36 closed

[2018-06-14 19:21] XieConnect commented on #50
Sure and approved. Thanks!  Wei Xie

[2018-06-14 19:36] dhimmel commented on #40
I really like this. I made the Document / Discussion headers font size 16 (previousely 14), so that they would stick out a bit more. Still not thrilled by them... it's not super obvious that they delineate the two sides, but may be hard to improve.

Next step would be add to the manuscript and create a legend.

[2018-06-14 20:49] alexandari commented on #50
Approved. Amr Alexandari.

On Thu, Jun 14, 2018 at 12:21 PM, Wei Xie <notifications@github.com> wrote:

[2018-06-14 21:07] cgreene opened #58 "Ping manubot-rootstock contributors to determine if they want to be acknowledged"
See #50 for the approach we used there. Dividing these into two to avoid e-mail noise.

[2018-06-14 22:12] bdo311 commented on #50
Sure thanks!

[2018-06-15 03:02] agitter commented on #44
We have a complete draft table except for `Cite by common identifiers` for Google Docs + Paperpile.  I assume that is a `No`, but I haven't used Paperpile.

[2018-06-15 03:04] agitter commented on #27
Issue #44 subsumes this issue.

[2018-06-15 03:04] #27 closed

[2018-06-15 03:06] agitter commented on #41
It matches the workflow in #40 closely as well.  Where were we going to add this in the text?

[2018-06-15 03:21] agitter commented on #40
I changed the canvas size and created version 1.0.2.

[2018-06-15 03:40] agitter commented on #45
See https://github.com/greenelab/manubot-rootstock/issues/67 and https://github.com/greenelab/manubot-rootstock/blob/master/USAGE.md#examples

[2018-06-15 08:36] ceiron61 commented on #50
Sure. Enrico Ferrero. Thanks!

[2018-06-15 10:54] agitter commented on #58
Hello manubot-rootstock contributors. We are writing a manuscript describing how manubot was used to write and coordinate our deep learning review. We would like to acknowledge you by name. Please let us know if you approve and, if so, what name you would like us to use.

@vsmalladi @rgieseke @slochower @adebali @petebachant

@evancofer already responded https://github.com/greenelab/meta-review/is

[2018-06-15 11:16] petebachant commented on #58
My contributions were negligible, so no need for acknowledgment. Thanks for asking though--very cool process!

[2018-06-15 11:41] vsmalladi commented on #58
I approve. Please use Venkat S. Malladi.

Let me know if I can help with the manuscript at all.

[2018-06-15 12:11] cgreene commented on #40
I bolded the "Document" and "Discussion" headers and fixed the alignment of the actions on the right hand side. Now labeled 1.0.3

[2018-06-15 12:11] cgreene commented on #44
I have now filled that in as well. Based both on my experience trying out paperpile + google docs ~6 months ago & perusing the FAQ to see if there were changes.

[2018-06-15 14:14] rgieseke commented on #58
Sure, thanks! Please use

Robert Gieseke

[2018-06-15 14:50] evancofer commented on #58
Thanks! Name to use is Evan M. Cofer

[2018-06-15 15:53] slochower commented on #58
Great, thanks. David R. Slochower.

[2018-06-15 17:16] zietzm commented on #50
Yes, Michael Zietz, thanks!

[2018-06-15 18:29] dhimmel commented on #47
Let's update this post with a todo list of names:

- [x] bookdown https://github.com/greenelab/meta-review/issues/30
- [x] idyll
- [x] distill.pub (example at https://github.com/thomas-tanay/post--L2-regularization)
- [ ] `publication_template` https://andrewgyork.github.io/publication_template/
- [x] Pandoc Scholar https://doi.org/10.7717/peerj-cs.112
- [x] gh-publisher https://github.com/ewanmel

[2018-06-15 19:29] cgreene commented on #47
@dhimmel ☝️ updated your post - hope that was what you wanted.

[2018-06-16 00:08] agitter commented on #47
We can scan the last eLife open source community call projects to see which are relevant: https://elifesciences.org/labs/f66b5b23/open-source-in-publishing-community-call-february-22

[2018-06-16 00:55] agitter commented on #44
Great, this looks like it's ready to be added to the manuscript.  I suggest that we transpose the table to put the tools in the columns.

[2018-06-16 13:43] agitter commented on #44
We should cross reference our table with Table 1 from http://doi.org/10.22541/au.148769949.92783646, which is similar.

[2018-06-16 13:49] agitter commented on #47
I edited the list with the other perspectives or tools that are in the Discussion section TODOs.  We may resolve some of these by deciding they aren't relevant enough.

[2018-06-16 16:42] agitter commented on #48
We can also provide an example of citation tags in the table.  Those aren't discussed yet.

[2018-06-17 22:04] agitter commented on #48
I started working on this.

[2018-06-18 14:32] #48 closed

[2018-06-18 19:44] #40 closed

[2018-06-18 19:44] #41 closed

[2018-06-18 19:54] agitter opened #61 "Corrections to workflow figure"
Follow up from #59:
- [ ] Workflow figure number is not generated
- [ ] Workflow figure caption does not appear
- [ ] Use absolute instead of relative width (https://github.com/greenelab/meta-review/pull/59#discussion_r196177624)

@dhimmel I missed your comment about the width before merging so I added it here.

[2018-06-18 20:29] #61 closed

[2018-06-19 14:33] agitter opened #63 "Developing a modern data workflow for living data"
https://doi.org/10.1101/344804

Should we include this in our discussion?   Continuous integration for data management has parallels to continuous integration for manuscripts.

[2018-06-19 21:26] agitter commented on #58
Hello manubot-rootstock beta testers. We are writing a manuscript describing how manubot was used to write and coordinate our deep learning review. We would like to acknowledge you by name for your feedback from OpenCon (https://github.com/greenelab/manubot-rootstock/pull/89). Please let us know if you approve and, if so, what name you would like us to use.

@zambujo @RaoOfPhysics @broadwym @schli

[2018-06-19 22:02] agitter commented on #58
Hello manubot-rootstock and manubot contributors. We are writing a manuscript describing how manubot was used to write and coordinate our deep learning review. We would like to acknowledge you by name for your contributions, suggestions, and discussion. Please let us know if you approve and, if so, what name you would like us to use.

@dsiddy @Miserlou @olgabot @jspauld @mlissner @anseljh @Siebold

[2018-06-19 23:23] dsiddy commented on #58
Thanks for your consideration in reaching out, @agitter. It's acknowledgement enough for me. 👌

[2018-06-20 08:23] adebali commented on #58
Thanks, Ogun Adebali.

[2018-06-20 08:38] lierdakil commented on #58
Thanks, but I really didn't contribute much, so I don't think you need to mention me personally. Mentioning pandoc-crossref would be nice if you're still using it though (IIRC you were using it at some point)

[2018-06-20 09:02] RaoOfPhysics commented on #58
Thanks for reaching out, @agitter. :) If you think it is appropriate to do so, I would appreciate the acknowledgement. Please let me know if you're looking for future testing as well!

[2018-06-20 10:26] zambujo commented on #58
I also appreciate you reaching out.  My contribution was negligible:  no need to acknowledge me at this point.  Best wishes!

[2018-06-20 14:44] Sieboldianus commented on #58
@agitter My contribution was so small, but feel free to acknowledge it. Thanks for managing this repo!

[2018-06-20 15:34] gwaybio commented on #50
Yes please. Sorry for delay

[2018-06-20 18:58] anseljh commented on #58
Hi @agitter, I don't even remember what I did, if anything. If you can point me to that, I'd be happy to look at it.

[2018-06-20 19:03] Miserlou commented on #58
Hey @agitter - all I did was file a bug report. Maybe in future you can have a weak form of a [CLA](https://en.wikipedia.org/wiki/Contributor_License_Agreement) in `CONTRIBUTING.md` so you don't need to ask retroactively.

[2018-06-21 18:29] agitter opened #64 "Additional discussion of continuous integration benefits"
In the continuous publication paragraph, we say

We could add a line about some specific benefits of integration testing on the manuscript.  We can automatically detect broken citations or other problems before merging pull requests.

[2018-06-21 18:41] dhimmel commented on #64
Ah yes, this point needs to be made somewhere.

[2018-06-21 19:00] agitter opened #65 "meta-review authorship"
We recently reviewed all manubot and manubot-rootstock issues and pull requests to acknowledge all contributors.  @slochower and @vsmalladi your discussion and implementation (summarized below) substantially contributed to the Manubot design.  We would like to invite you to join as authors of this meta-review manuscript.  This manuscript discusses collaborative writing and Deep Review experience a

[2018-06-21 20:06] slochower commented on #65
In principle, I'm in. But I'd like to read through the current manuscript first, and I have a couple of questions.

1. What's the timeline for finishing the writing and submitting? If this is a priority *right now* then I probably won't be able to make time for it. But otherwise, I think I can make it work.
2. What's the goal of this manuscript? Is it to raise awareness of `manubot`, discuss colla

[2018-06-21 20:26] agitter commented on #65
1. Last week we resumed actively working on the manuscript with the intention of submitting ASAP (i.e. 1-2 weeks).  There isn't a hard deadline though, so our timeline is open for discussion.
2. All of the above.  After writing Deep Review, we received interest in the collaborative process and what lessons we learned from it.  Our goals here are to present the benefits of open collaborative writin

[2018-06-22 00:36] slochower commented on #65
Looks good to me. How do you want to proceed?

[2018-06-22 01:50] vsmalladi commented on #65
I am also in. How do we proceed.

[2018-06-22 11:03] agitter opened #66 "Organize open science discussion and references"
In the intro and second discussion paragraph, the references about open science were selected arbitrarily.  The current draft has:

We should more explicitly consider what we want to include here and search for other relevant work.

[2018-06-22 11:17] agitter commented on #65
I suggest that you first read through the current draft and open issues or pull requests for anything you would like discuss or edit.

Some of the open issues we could use help with are #44 (especially verifying the information in the linked table), #47, and #66.

[2018-06-22 20:50] slochower commented on #44
I suggest putting version numbers in the table for the other software. After all, Overleaf or Word Online could add a feature tomorrow that's not there today, and make the table outdate. I'm not sure what the best way to version a Web App like Overleaf or Google Docs, though, so the caption might read "results as accessed by the authors on June 22, 2018" (or something to that effect).

[2018-06-22 20:54] slochower commented on #44
- I think the heading "Automatic change testing" is unclear. I think I know what you mean -- presumably a form of CI that checks for merge conflicts -- but I'm not sure that's clear to the broader audience. I can't readily think of a better phrase, but maybe something along the lines of "Automatic evaluation of changes"?
- I think one *advantage* of something like Google Docs + Paperpile over `man

[2018-06-22 21:02] slochower commented on #47
In a limited context, an alternative to the standard "journal workflow" is LiveCoMS (just getting off the ground now). I don't think this fits perfectly -- because I think they are agnostic about workflow before it arrives at the journal -- but it highlights the changing landscape of how papers evolve after publishing.

- The Living Journal of Computational Molecular Science (LiveCoMS) provides a

[2018-06-23 19:46] agitter commented on #47
@slochower it seems relevant to me.  Their [Paper Writing as Code Development](https://livecomsjournal.github.io/about/paper_code/) post describes some of the same philosophies we have here.

[2018-06-23 19:49] agitter commented on #44
I definitely agree regarding dating the evaluation, especially with Overleaf v2 coming.  We can rephrase "Automatic change testing" when we move this into the manuscript.

By manage references, do you mean keep track of relevant references before or during writing?  I'm curious how you are using Paperpile alongside Manubot.

[2018-06-23 22:46] slochower commented on #44
Yes. In my experience trying out a few different reference managers over the past year or so, Paperpile has been the best at extracting and storing accurate metadata. So when I want to keep track of a paper for later, I just use the browser extension to add the paper to my Paperpile database. Then when writing with `manubot`, I just use Paperpile to search for the paper, select the DOI and cite it

[2018-06-24 11:26] agitter commented on #44
I'm not sure yet.  You are one of the few people using it for real writing, which is why I was curious.  For this meta-review paper and deep review, I did not use a reference manager unless I needed to override the CSL JSON.  We tracked papers through GitHub issues and could extract the DOI from the issue when it was time to cite them.

However, what you described could end up being the more typic

[2018-06-24 17:17] slochower commented on #44
Ah right. I knew about that but forgot.

Also right. But I see reference management and citation management as separate things. Even using Manubot exclusively for authoring and citing, I'd still like to have my references accessible and organized aside from GitHub issues, if only for sharing with colleagues, sending to students, doing full text searches, etc.

[2018-06-25 11:46] cgreene commented on #44
Ahh - this is interesting! When I write with manubot, I don't use a separate reference manager. It had not occurred to me that people might use both!

[2018-06-25 16:10] slochower commented on #44
@cgreene Having a central reference manager makes collaboration easier, in my experience. Sure, I might want to write with `manubot` and cite articles directly or based on GitHub issues, but if I'm writing related papers with collaborators A using Word and collaborators B using Overleaf / `bib` files, then having all my references in a central place is the most practical. In fact, I ran into an is

[2018-06-25 21:37] vsmalladi commented on #47
Another one that I found was [Stackedit](https://stackedit.io/)

[2018-06-25 21:59] vsmalladi commented on #63
@agitter I think we should add this reference to the Introduction and refer back to it when expanding on continuous integration #64

[2018-06-25 22:38] agitter commented on #47
[HackMD](https://hackmd.io/) is another collaborative Markdown editing site.  Once we have a complete list we can decide which of these are in scope.

[2018-06-25 22:39] agitter commented on #63
Sounds good.  Want to make a pull request?

[2018-06-26 14:16] vsmalladi commented on #63
Great just made a pull request.

[2018-06-26 14:30] agitter commented on #66
There are additional ideas and references for open science in https://doi.org/10.7287/peerj.preprints.2711v3

[2018-06-26 14:30] agitter commented on #45
TODOs in the manuscript also noted https://slochower.github.io/nonequilibrium-barrier/ and https://zietzm.github.io/Vagelos2017/.

[2018-06-26 14:33] agitter opened #68 "Alternative author ordering strategies and contribution tracking"
In the Authorship section we had a TODO

@dhimmel is there more you would like to say about alternative authorship strategies?  The [Contributor Roles Taxonomy](http://docs.casrai.org/CRediT) would be one point of reference.

[2018-06-26 23:26] slochower commented on #47
Using your turn of phrase, @agitter , I searched "collaborative markdown editor" on google and got a ton of results (even in incognito mode). For example,
- https://standardnotes.org/extensions/collaborative-editor
- http://etherpad.org/
- https://github.com/tralves/collaborative-markdown-editor
- https://firepad.io/

I'm not sure it will be possible to have a "complete list" and I'm not sure how

[2018-06-27 10:52] agitter commented on #47
I agree.  If there are this many, we could make a broad statement about many other collaborative editors being available.  I don't know of anyone using these editors for manuscripts, they seem oriented toward collaborative note taking or other tasks.

[2018-07-01 15:30] vsmalladi commented on #45
Also add [https://vsmalladi.github.io/tfsee-manuscript/](https://vsmalladi.github.io/tfsee-manuscript/) examples.

[2018-07-02 19:49] #30 closed

[2018-07-03 11:32] agitter commented on #47
I added Stencila to the list above

[2018-07-03 20:30] #63 closed

[2018-07-03 20:47] agitter opened #70 "Sync with manubot-rootstock"
@dhimmel can you please merge the latest version of manubot-rootstock into the meta review?  I noticed that we don't yet have the shorter front matter from https://github.com/greenelab/manubot-rootstock/pull/114.

[2018-07-04 16:28] #70 closed

[2018-07-05 14:24] dhimmel commented on #68
In the longterm, I think being able to go from author to their contributions is the more important thing. For example, contributor role metadata (via the taxonomy) would be a good start. Best would be if you could click an author to highlight all sentences they authored.

Not sure if this futurist stuff belongs in Meta Review, as we haven't implemented it.

[2018-07-05 15:36] agapow commented on #50
Yup

[2018-07-13 15:30] #45 closed

[2018-07-13 16:23] agitter commented on #33
Closing this to keep the discussion in #58 and #65

[2018-07-13 16:23] #33 closed

[2018-07-13 16:31] agitter commented on #65
I'd like to submit this soon and am re-engaging in our open issues.

@vsmalladi and @slochower can you please add yourselves to the authors in `metadata.yaml` once you have approved the draft?  We could also still use help with #44, #47, and #66, which would help us justify including you as authors but not others who have made smaller Manubot contributions.

Based on the contribution summary above

[2018-07-13 18:45] agitter commented on #58
@anseljh this was regarding the discussion about how to cite legal cases in https://github.com/greenelab/manubot/issues/1

[2018-07-13 18:47] slochower commented on #65
Thanks @agitter. I made a PR for the authoring to get the ball rolling on that. I'm on-and-off traveling for the next 36 hours; I can help address the issues you linked on Sunday.

[2018-07-13 18:54] agitter opened #76 "Citing software dependencies"
https://github.com/greenelab/meta-review/issues/58#issuecomment-398670726 reminded me that we may want to explicitly cite or link other software that Manubot depends on.  Despite the comment, we are not actually using `pandoc-crossref`, right?

[2018-07-13 18:59] anseljh commented on #58
Thanks @agitter, I remember that now. Feel free to acknowledge if it was helpful, but I leave it up to you!

[2018-07-13 19:38] agitter commented on #64
I scanned some of the failed deep review builds.  The common errors caught with continuous integration were related to tag typos, non-existent tags, or DOI typos.  Other builds failed due to valid DOIs and perhaps were caused by an intermittent outage.  I also recall some builds failing because of JSON file format errors.

Do we also want to comment on what might be possible with continuous integr

[2018-07-14 01:03] vsmalladi commented on #65
Thanks @agitter. I am also traveling over the next couple of days with limited access but look at the issues when I have a more stable connection later this weekend.

[2018-07-15 17:30] slochower commented on #44
This table has "offline editing," "ease of use," "math support," "output formats," and "interactivity" that are missing in the table @cgreene made. On the other hand, @cgreene's table is more granular. "Editing software" is similar to "offline editing" and some other columns could be considered together to inform "ease of use."  We could add a column for math support, but interactivity and output

[2018-07-15 17:42] slochower commented on #47
Given that we have collectively listed around ~10 alternatives here, I'm wondering if these should be addressed separately and directly... or if we should craft a general paragraph and then add in the relevant citations where they apply. Thoughts?

[2018-07-15 18:20] slochower commented on #66
I just noticed there's a Wikipedia article on Open Science that lists an Open science taxonomy. One thought is to mention the top-level hierarchy -- open access, open data, open reproducible research, open science evaluation, open science policies, and open science tools -- and then add a sentence or two about particularly interesting examples, like drug discovery or data management.

[2018-07-15 20:37] agitter commented on #47
@slochower I suggest that we handle them briefly and group similar ideas together as much as possible.  That is the approach I started in #69.  We can give credit and pointers to related work without reviewing it in full.

We may also decide that we don't need to cite every tool listed above if they are not sufficiently relevant.

[2018-07-16 11:58] agitter commented on #44
I find "ease of use" to be difficult to evaluate, and that may not be an attribute we want to highlight.  I agree that math support could be nice to include.

I'm inclined to leave those out to keep this table focused on the most popular existing platforms that have a reasonably large market share.

Feel free to rename columns in the PR if you think of a better phrasing.  For some of the entries a

[2018-07-16 12:06] agitter commented on #66
There is some good material here.  The primary sources for the six principles --- http://openscienceasap.org/open-science/ and http://www.know-center.tugraz.at/download_extern/papers/open_science.pdf for the first four --- could be useful for introducing them.

The [Arguments_for_open_science](https://en.wikipedia.org/wiki/Open_science#Arguments_for_open_science) section could also provide good re

[2018-07-18 21:58] agitter commented on #65
@vsmalladi and @slochower, I plan to block off time this Friday to work on issues and review open pull requests.  If you have any revisions in progress, could you please submit a pull request by Friday?

[2018-07-18 22:11] slochower commented on #76
Correct, but `pandoc-fignos`, `pandoc-eqnos`, and `pandoc-tablenos` are used.

https://github.com/greenelab/meta-review/blob/59442cd3b5417ef45c8dd6477ec6a782495aad4b/build/build.sh#L32-L34

[2018-07-20 00:11] vsmalladi commented on #76
+1 @slochower

[2018-07-20 00:38] slochower commented on #65
@agitter I didn't have time to address https://github.com/greenelab/meta-review/issues/47 (I don't have any work in progress aside from the comments made in that thread), do you want me to take a crack at it tomorrow sometime or should I wait until you give the manuscript a fresh coat of paint?

[2018-07-20 10:30] vsmalladi commented on #64
@agitter add pull request #83 to add in the information of tag typos and DOI Typos.

What were you thinking regarding future testing? I am hesitant to add anything as I could only think of specific journal or manuscript requirements we would want to test (e.g. Number of Figures, Word Count limit).

[2018-07-20 10:33] vsmalladi commented on #65
@agitter I just got back from travels and am looking at the outstanding issues. I can try to take a crack at #66. Should I wait until the manuscript has merged in the current outstanding updates before trying to integrate these references?

[2018-07-20 10:56] agitter commented on #65
We don't have to merge all open pull requests before updating other parts of the manuscript, but I don't think we should have two open pull requests editing the same text.  If you have suggestions for #66, can you please add them in a review of #81?

[2018-07-20 10:57] vsmalladi commented on #65
@agitter will do.

[2018-07-20 15:14] dhimmel commented on #42
Rather than a distinct table, any deep review stats we want to include can be put in the Figure 2 caption (Deep Review contributions by author over time).

[2018-07-20 15:24] agitter commented on #65
Closed by #75 and #79

[2018-07-20 15:24] #65 closed

[2018-07-20 15:50] agitter commented on #58
Closed by #77, but anyone who was pinged above and has not yet been acknowledged should still feel free to respond here.

[2018-07-20 15:50] #58 closed

[2018-07-20 16:39] agitter commented on #44
I'll also evaluate https://doi.org/10.1038/514127a, though these tools have evolved substantially since that was written.

[2018-07-20 17:14] agitter commented on #47
I don't see anything in the Fidus Writer [overview](https://www.fiduswriter.org/how-it-works/) that is especially relevant to Manubot so I'm leaving it out for now.  I'm also excluding publication_template for now.  It is a template for writing manuscripts in HTML.

[2018-07-20 19:05] #50 closed

[2018-07-20 19:22] #64 closed

[2018-07-20 19:57] #42 closed

[2018-07-20 20:27] agitter commented on #44
I'm working on a pull request to add this table in Markdown form.  Let's stop editing the Google Sheet and make further suggestions in that pull request.

[2018-07-21 20:58] #44 closed

[2018-07-25 20:44] agitter commented on #27
I finally found [documentation](https://www.overleaf.com/help/230-how-do-i-push-a-new-project-to-overleaf-via-git#.W1jhM9JKiUk) on Overleaf that supports what I had observed about the git commit behavior:

This is how edits from multiple users can be rolled into a single git commit attributed to a single user.

[2018-07-27 20:51] agitter opened #90 "Update example versioned URL"
In #89 I removed the inline TODO to update the versioned manuscript URL.

[2018-07-27 21:05] agitter opened #91 "Living document paragraph is out of place"
The Discussion paragraph beginning with "Open writing presents new opportunities for scholarly communication" does not fit well in its current location.  We can look for a better place to integrate it.

[2018-07-27 21:37] #46 closed

[2018-07-27 21:37] #66 closed

[2018-07-31 04:01] #39 closed

[2018-07-31 04:01] #90 closed

[2018-07-31 04:01] #91 closed

[2018-08-02 11:47] agitter commented on #8
@vsmalladi @slochower we should be ready to submit in the next few days.  We initially plan to submit this to _eLife_ as a feature article.

[2018-08-02 15:23] vsmalladi commented on #8
@agitter Is there a final review that we should be looking out for that we will be approving?

[2018-08-02 15:35] dhimmel commented on #8
The current version is the planned submission version, as far as I know. So if you have any further comments on https://greenelab.github.io/meta-review/v/b8eeea542ce238bbcaf2023add2aecb86ef726bd/, let us know!

[2018-08-02 17:12] slochower commented on #8
I just added a [PR](https://github.com/greenelab/meta-review/pull/94) with one grammar correction, one spelling change, and one sentence rearrangement.

I also made a comment on https://github.com/greenelab/meta-review/commit/17b42d887906c1ba81ce81fcc64e4a4319dc384d about a phrase I didn't understand.

I think it reads quite nicely. I started to get a sense that the introduction stressed *review*

[2018-08-03 15:50] agitter commented on #8
I submitted to the journal and tagged this version [`v1.0`](https://github.com/greenelab/meta-review/releases/tag/v1.0).  I'll forward any email correspondence I receive.

[2018-08-03 15:55] agitter opened #95 "Smart Papers: Dynamic Publications on the Blockchain"
https://doi.org/10.1007/978-3-319-93417-4_20

This could be relevant for our next round of revisions.  They have a paragraph about Manubot in the related work section.

[2018-08-15 12:04] agitter opened #96 "Distill overview"
The Distill Update 2018 (http://doi.org/10.23915/distill.00013) has some interesting information about their publishing process.  We currently discuss Distill's focus on interactivity but could also mention their peer review through GitHub issues and use of continuous integration.

[2018-08-15 20:43] dhimmel commented on #95
Here's the section where they mention Manubot:

The idea is that all interactions involved in publishing should be verifiable and immutable.

However, I'm not sure whether their proposal is directly applicable to the Manubot. From my understanding, they are proposing to perform the interactions involved in publishing on the Ethereum blockchain. For example, peer review would be recorded on the blo

[2018-08-15 20:43] #95 closed

[2018-08-15 20:59] agitter commented on #95
Fine with me.  Thanks for looking it over.

[2018-08-24 20:40] agitter opened #97 "Revisions before next submission"
- [x] Edit the abstract to de-emphasize literature reviews and emphasize open collaboration and automation
- [x] Discuss the new Manubot features that will be included in the v0.2.0 release
- [x] Prune some of the retrospective deep review discussion to focus more on how others can use Manubot
- [x] Add Kipoi as a Manubot use case

[2018-08-24 21:17] agitter commented on #8
I'm closing this.  I don't see any remaining actionable items.

[2018-08-24 21:17] #8 closed

[2018-08-24 21:52] dhimmel commented on #96
Here is what I think is the most relevant portion. Anthony please format this

[2018-08-24 22:02] agitter commented on #96
I put that in a blockquote to make it obvious that is a quote from the article above.  I'll focus on that section for my edits.

[2018-09-08 10:48] agitter opened #98 "Pre-registered studies"
This article https://www.natureindex.com/news-blog/open-framework-tackles-backwards-science reminded me that Manubot's OpenTimestamps may also be useful for pre-registering a study.  If the study protocol is written with Manubot, a researcher could prove it's existence.

[2018-09-08 10:50] cgreene commented on #98
@profjsb is an expert on this. I'd be curious to hear his thoughts if he gets the chance to comment.

[2018-09-15 19:14] agitter commented on #97
I added ` Add Kipoi as a Manubot use case` so that we can briefly mention https://github.com/kipoi/website/issues/78  The Kipoi model list [here](https://kipoi.org/groups/) now uses Manubot to extract author information from the DOI or arXiv links.

This could fit with our new discussion of the v0.2.0 features or at the very end of the Manubot section that discusses current usage.

[2018-09-19 17:40] dhimmel commented on #98
## Background

We've thought about pre-registration a bit, which is a level beyond timestamping. Here is some background conversation from [Twitter](https://twitter.com/opentimestamps/status/975798375567142912):

`@opentimestamps` tweets:

`@dhimmel` replies:

`@opentimestamps` replies:

For more information on this, see @petertodd's blog post titled [Preventing Consensus Fraud with Commitments an

[2018-09-19 20:42] dhimmel commented on #27
# Overleaf v2

Overleaf and ShareLaTeX merged. It sounds like the new product keeps the Overleaf name but the ShareLaTeX technology, as per the [launch announcement](https://www.overleaf.com/blog/654-overleaf-v2-launch-announcement):

There is an interesting bullet point on git:

If you've used the new overleaf v2 and have any feedback (especially related to it's comparison to Manubot), leave it h

[2018-09-19 22:37] agitter commented on #27
I'm using Overleaf v2 for a manuscript.  My workflow is different in v2 because I used to rely on the git bridge, but I may prefer the v2 model. Overleaf v2 can sync with a public or private GitHub repo so locally cloning that GitHub repo enables you to still get a local copy of the repo.

A downside of v2 is the that commit authorship has gotten even less granular as far as I can tell.  Now all c

[2018-09-23 11:39] agitter commented on #98
Interesting conversation @dhimmel.  The most relevant part of the article I posted was:

I agree that Manubot is ahead of those approaches, but given the possibility of time-stamping multiple protocols there may not be anything to add the meta review at this time.

[2018-09-24 20:31] dhimmel commented on #98
As I understand it, OSF timestamps the document in their own database. Hence, one must trust that OSF's database is secure and will remain available. I am not sure OSF really solves the multiple protocol issue, although it would be hard to preregister thousands of protocols with OSF without being detected.

One possibility Manubot could pursue is to have a pre-registration option. This would depos

[2018-10-06 21:40] agitter commented on #96
I added this article and Distill's use of GitHub in #100.  I left out continuous integration because I don't understand when or where they perform it.  Based on the example repository they link - https://github.com/distillpub/post--momentum - it doesn't seem to be via GitHub.

[2018-10-10 11:13] #96 closed

[2018-10-10 20:20] slochower opened #104 "Should we add more about using roostock?"
For context: https://github.com/greenelab/meta-review/pull/99#discussion_r224185103

[2018-10-11 11:53] agitter commented on #104
To continue this discussion, we currently say:

We also have elsewhere

I don't think we can claim that the rootstock makes it easy to start a new manuscript with Manubot.  it simplifies the processes considerably but requires some technical expertise and has been a failure point for new users.

Do we want to bring the two sentences closer together to make the point that once a manuscript has been

[2018-10-15 17:36] slochower commented on #104
I think hold off on this text for now so we can prioritize resubmitting in the near future.

[2018-10-16 12:07] agitter commented on #104
Sounds good to me.  I'll leave the issue open for discussion later but prioritize submitting what we have.

[2018-10-18 13:13] agitter commented on #97
Now that #99 is merged, we could close this.  Or I'll make a proofreading pull request and close this issue with that new pull request.

[2018-10-18 15:22] vsmalladi commented on #97
@agitter I think making it a proofreading pull request makes sense.

[2018-10-19 12:40] #97 closed

[2018-10-29 19:42] agitter commented on #47
I added https://github.com/openbases/builder-pdf to the list above but haven't explored it yet.

[2018-11-15 12:18] agitter commented on #27
The Open Humans project has a blog post describing writing an open paper with Overleaf: http://openhumansfoundation.org/open-humans-manuscript/

My impression is that our existing understanding of Overleaf v2 is accurate.  They appear to have give everyone write permission.  They have synced to a GitHub [repository](https://github.com/OpenHumans/open-humans-manuscript) (also used for that blog pos

[2018-11-17 20:40] agitter opened #110 "Ten simple rules for collaboratively writing a multi-authored paper"
This a recent PLOS Computational Biology 10 simple rules paper: https://doi.org/10.1371/journal.pcbi.1006508

Their focus is on "traditional" collaborative writing, not open collaborative writing.  We can still see whether there are any ideas we want to reference.

[2018-11-20 11:43] agitter opened #111 "Update citation functionality"
In our next round of revisions, we should describe ISBN citation support and add an example in the table.

[2018-12-07 14:58] agitter commented on #27
Overleaf v2 now has a beta version of the git bridge that allows syncing directly to the Overleaf project instead of syncing Overleaf v2 <-> GitHub and GitHub <-> local repo.

https://www.overleaf.com/blog/bringing-the-git-bridge-to-v2-its-here-in-beta

[2018-12-10 22:03] agitter commented on #111
We should update the table to reflect the translation server updates in https://github.com/greenelab/manubot/pull/84

[2018-12-13 11:33] agitter commented on #111
Also update to include wikidata https://github.com/greenelab/manubot/pull/86

[2018-12-31 12:36] #111 closed

[2019-01-08 17:25] agitter commented on #27
This is no longer true for Overleaf v2.  I tested using Overleaf v2 as a git remote (as opposed to GitHub sync) and it correctly set me as the commit author.  This was on a project I did not own.  I haven't tested this broadly though.

[2019-02-05 17:53] ctb opened #114 "introductory paragraph needs more citations."
as is, the introductory paragraph is missing citations for statements.

in particular, the statement "However, the scientific community requires tools whose workflows encourage openness" should either have a citation or two, or be clarified as an opinion.

[2019-02-05 17:54] ctb opened #115 ""correctness and fairness" in abstract are unclear."
from reading the manuscript, it is clear that fairness means fairness in contribution tracking, but this is not clear in the abbreviated language used in the abstract.

I am somewhat unclear on what "ensure correctness" means in the abstract.

[2019-02-05 17:55] ctb opened #116 "footnote placement in rendered manuscript should be left-adjusted"
in the PDF I have in front of me, the footnotes at end of sentences are not left-flush with the period. this is a minor nit but a nit nonetheless :). is this just a stylesheet issue or ...?

[2019-02-05 17:56] ctb opened #117 ""requesting modifications as depicted in 7.""
the number 7 seems to refer to a citation (at least that's the hover view) but should maybe be in square brackets, i.e. [7]?

[2019-02-05 17:57] ctb opened #118 ""We use GitHub issues for organization""
is there anything special about how manubot links to and from issues in the text? mostly just curious. (I could imagine automatically generated backreferences, as github does between issues when you mention one issue in another issue).

[2019-02-05 17:58] ctb opened #119 ""it is reviewed by a maintainer and a participant""
are these separate people or the same person? one presumes maintainers are participants, but not vice versa. either way, please clarify! :)

[2019-02-05 17:59] ctb opened #120 "maybe add a note about how manubot could be used for better lesson development"
e.g. I see a lot of utility in manubot-style approaches for Carpentries-style online lesson development, especially the generation of versioned links and posting them back to PRs (which I assume happens?)

[2019-02-05 18:00] ctb opened #121 "do rendered versions of each PR get posted back to the PR?"
I assume this happens but want to double check (and am at the far end of a lousy Internet connection right now). So this is really more of an "@ctb todo" item.

[2019-02-05 18:04] ctb opened #122 "further emphasize strikethrough formatting for errors in extant versions"
I love the paragraph on Sci-Hub error correction - am I correct in understanding that the link to the erroneous version of the pub was updated with a version that clearly highlighted the text as erroneous? this is really important if so, and has massive implications for the future of scholarly docs!

(and, out of curiousity, how do you do this with links that have a hash in them, or did I misunder

[2019-02-05 18:05] ctb opened #123 "Strengthen statement about "no objective system " for authorship"
The statement "there is no objective system" reads like it could be a practical  statement as in "we haven't built one yet", while I believe (and think the authors agree with me, based on the paragraph) that no such principled objective system *can* exist. Either way this should be clarified.

[2019-02-05 18:08] ctb opened #124 "Comments from review of initial submission"
review comments/requests: see

- [x] Strengthen statement about "no objective system " for authorship #123
- [x] further emphasize strikethrough formatting for errors in extant versions  #122
- [x] maybe add a note about how manubot could be used for better lesson development #120
- [x] "it is reviewed by a maintainer and a participant" #119
- [x] "We use GitHub issues for organization"  #118
- [x

[2019-02-05 18:40] tpoisot commented on #124
I'd need to read a bit more to comment - just to be clear, is that an invitation to give feedback? I would be happy to, but I'm on parental leave until March.

[2019-02-05 19:03] agitter commented on #121
This is a good idea.  It could be directly linked, but currently is not.

Currently, the `gh-pages` commit cross-references the PR so that commit is linked in the PR.  From that commit message, the commit hash can be used to get to the versioned permalink of the manuscript.  It would be better to directly provide that URL in the commit message.

To be more explicit, this is what the commit message

[2019-02-05 19:17] dhimmel commented on #121
@agitter I think @ctb question "do rendered versions of each PR get posted back to the PR" refers to whether the output files from a PR build are posted in a PR comment. Currently, the answer is no.

If a PR is merged, the commit message links shown by @agitter do show up in the PR's timeline. However, prior to being merged, the only way to see the output PDF or HTML is to build it locally.

It wo

[2019-02-05 19:37] dhimmel commented on #122
Quoting the relevant [manuscript](https://greenelab.github.io/meta-review/v/ae1dd9ebd7b533b578041fd402217a73fd113899/) section:

@ctb the strikethrough formatting is not retroactive. None of the manuscript versions prior to the [commit](https://github.com/greenelab/scihub-manuscript/commit/8fcd0cd665f6fb5f39bed7e26b940aa27d4770ba) with the strikethrough changed. However, once the commit was deploy

[2019-02-05 20:37] slochower commented on #124
Just checking, @ctb , is this an Issue that just links to other issues? If so, that's not really required. We can see the other issues just fine :)

[2019-02-05 20:39] slochower commented on #116
Yep, that should be a stylesheet thing (i.e., strictly non-content). We have some other code modifications in place that might take care of this (but haven't checked yet). cc @vincerubinetti

[2019-02-05 20:41] ctb commented on #124
I put this in to give the editor and other reviewer a single point of entry.

[2019-02-05 20:41] slochower commented on #117
Yeah, I think you're right.

[2019-02-05 20:43] slochower commented on #124
@ctb Yep, got it, sorry for the confusion. I was a little slow on figuring out what was going on.

[2019-02-05 20:48] dhimmel commented on #117
Regarding this sentence in [this version](https://greenelab.github.io/meta-review/v/ae1dd9ebd7b533b578041fd402217a73fd113899/):

This was intentional since the citation is being used as a noun in the sentence. Sometimes this is called an in-text citation and is probably more common when using author style citations like:

We'll consider whether to change this. Somewhat related, new Manubot fronten

[2019-02-05 20:49] ctb commented on #124
I also wasn’t clear ;). Battling bad WI-FI and a plane about to take off! I’ll fix this issue up in a bit.

[2019-02-05 20:50] ctb commented on #117
It was unclear if it was a figure or a citation. Suggest longer form if citation.

[2019-02-05 21:36] dhimmel commented on #116
Is this in reference to the superscript numbers in [Table 1](https://greenelab.github.io/meta-review/v/ae1dd9ebd7b533b578041fd402217a73fd113899/#tbl:platforms)?

There are not left-flush because they apply the following sentence (not the previous). It's confusing, and I think the caption probably should not use superscripts (although the table cells should).

The new default theme, which hasn't ye

[2019-02-05 22:19] vincerubinetti commented on #116
If the issue is what the screenshot @dhimmel posted, that is not an issue at all. If you look at the mardown input, those superscripts have a space placed before them, not after them. In other words, those super scripts actually belong to sentence after them, not before them.

[2019-02-06 15:37] agitter commented on #121
Thanks for explaining @dhimmel, that makes sense.  This would be a really great feature, especially for PR reviewers to quickly check whether new references were extracted correctly.

If we stick with Travis, that may be the only solution.  https://github.com/travis-ci/travis-ci/issues/5579 gives a good overview of the issue and current status.  Per the latest comments, CircleCI and AppVeyor do su

[2019-02-07 12:49] ctb commented on #122
ok, thank you for the thoughts! matches my understanding of the tech involved! please feel free to close this issue unless you want to revisit the text in the paper.

[2019-02-07 12:50] ctb commented on #116
I've never seen this style of footnotes (prepending rather than postpending). Consider placing at end of sentence, maybe?

[2019-02-07 12:51] ctb commented on #124
description & issue title fixed. please leave me to update the checkboxes for second review!

[2019-02-07 13:04] agitter commented on #116
Now that you point it out, this convention is confusing.  We'll revisit the table and its caption to make this more clear.

[2019-02-07 13:07] agitter commented on #124
Thanks for the comments and for reorganizing the issue @ctb.  Would you like us to have you review the pull requests that we create to close these issues?  That would ensure we're addressing the comments properly, but I also don't want to commit you to more frequent reviewing if that isn't your intention.

[2019-02-07 13:29] ctb commented on #124
I'm traveling, so probably can't do much. But please ask for clarifications if needed!

[2019-02-07 21:37] slochower commented on #124
@dhimmel @agitter Do you want to assign specific people to tackle specific issues or some other alternative strategy?

[2019-02-07 21:45] dhimmel commented on #124
How about first one to volunteer or open a PR addressing a piece of feedback gets it. Let's try to keep PRs small, review fast, and merges frequent. @agitter did you want to create `response-to-reviewers.md` or should I?

[2019-02-07 22:24] agitter commented on #124
I'm on it now.  Sooo many meetings this week.

[2019-02-07 22:47] agitter commented on #123
Three quick notes for myself as I work on this issue
- We do want to claim that no single principled objective system _can_ exist
- The recent review about collaborative writing demonstrates different approaches, supporting that there will not be a one-size-fits-all solution (#110)
- Now that we have more Manubot manuscript examples (#128), we can point to different strategies other groups have us

[2019-02-07 22:57] agitter opened #126 "Update acknowledgements"
We should review the manubot and manubot-rootstock issues and updates to see who else should be acknowledged in the revised manuscript.  In addition, we should acknowledge the public reviewer.

[2019-02-07 23:06] agitter opened #127 "Update authors"
@vincerubinetti and @dongbohu we would like to invite you to join us as authors on this manuscript describing Manubot for collaborative writing for your contributions to the front end, Zotero translation server, and other Manubot features.  It is under review at PLOS Computational Biology as a Software article.

We are generally following the [ICMJE guidelines](http://www.icmje.org/recommendations

[2019-02-08 12:33] agitter opened #128 "Update example manuscripts"
There are now more example manuscripts written with Manubot that we can use to highlight different writing and authorship approaches.  At least a couple of these have been posted to bioRxiv, and I like being able to show more examples of that as one possible workflow.  We don't need to add every single Manubot manuscript though.

[2019-02-08 12:38] agitter opened #129 "Reviewer 1 comment 1"

[2019-02-08 12:39] agitter opened #130 "Reviewer 2 comment 1"

[2019-02-08 12:39] agitter opened #131 "Reviewer 2 comment 2"

[2019-02-08 12:40] agitter opened #132 "Reviewer 2 comment 3"

[2019-02-08 12:40] agitter opened #133 "Reviewer 2 comment 4"

[2019-02-08 12:41] agitter opened #134 "Reviewer 2 comment 5"

[2019-02-08 12:41] agitter opened #135 "Reviewer 2 comment 6"

[2019-02-08 12:45] agitter opened #136 "Reviewer 2 comment 7"

[2019-02-08 12:45] agitter opened #137 "Reviewer 2 comment 8"

[2019-02-08 12:46] agitter opened #138 "Reviewer 2 comment 9"

[2019-02-08 12:46] agitter opened #139 "Reviewer 2 comment 10"

[2019-02-08 12:46] agitter opened #140 "Reviewer 2 comment 11"

[2019-02-08 12:47] agitter opened #141 "Reviewer 2 comment 12"

[2019-02-08 12:47] agitter opened #142 "Reviewer 2 comment 13"

[2019-02-08 12:47] agitter opened #143 "Reviewer 2 comment 14"

[2019-02-08 12:48] agitter opened #144 "Reviewer 2 comment 15"

[2019-02-08 12:48] agitter opened #145 "Reviewer 2 comment 16"

[2019-02-08 12:48] agitter opened #146 "Reviewer 2 comment 17"

[2019-02-08 12:49] agitter opened #147 "Reviewer 2 comment 18"

[2019-02-08 12:49] agitter opened #148 "Reviewer 2 comment 19"
The waves (symbolizing the content) could be probably replaced by straight thick lines. It took me a few seconds to realize this was meaning content. See for example https://swcarpentry.github.io/git-novice/01-basics/index.html

[2019-02-08 12:49] agitter opened #149 "Reviewer 2 comment 20"

[2019-02-08 12:50] agitter opened #150 "Reviewer 2 comment 21"

[2019-02-08 13:10] agitter opened #151 "Manuscript revisions meta issue"
We received positive reviews on our manuscript and can use this issue to organize the revisions over the next few weeks.  Let's target resubmitting the week of March 4 or earlier.

All of the requested revisions are itemized below.  Following @dhimmel's suggestion, the first one to start a pull request to address a comment can claim it.  If there is something you know how to address, you can also

[2019-02-08 13:14] dhimmel commented on #135
I mirrored the `manubot/manubot` repository [on GitLab](https://gitlab.com/manubot/manubot). This should ensure that the codebase remains accessible in a current state should GitHub disappear. It does not solve the problem that Manubot admins could delete both repositories. Zenodo or Figshare would provide some protection, although if one really wanted they could get their content deleted from the

[2019-02-08 14:34] vincerubinetti commented on #132
I'm not originally from the academic world, and I'm not familiar with Bokeh or Jupyter. Would this relate to the html front-end I'm designing? If so, any references or insight regarding these tools would be useful @agitter @dhimmel

[2019-02-08 14:41] vincerubinetti commented on #134
Definitely agreed. I think the new redone default theme is significantly cleaner and more consistent. Once done with the heavier functionality work (namely the plugins), I was also going to make a few extra themes with different styles, including a more traditional serif, "elegant" look, like [this](https://lens.elifesciences.org/26726/#toc) or [this](https://www.nature.com/articles/s41467-019-083

[2019-02-08 14:48] vincerubinetti commented on #147
I'd agree with this. Perhaps it could go in "Limitations" as well.

Would a mention of the Hypothesis annotations plugin somewhere make sense? Would that address "inline comments"? Also could you elaborate on "diff colorization"?

[2019-02-08 21:51] agitter commented on #135
The GitLab mirror is a good start, and we should include that in the response to reviewers.  However, if the reviewer is concerned that the Manubot Python package could go away, you are correct that the admins could still decide to take it down from GitHub, GitLab, and PyPI.

My interpretation is that the reviewer is primarily concerned with a more permanent archive for the Manubot code, which is

[2019-02-08 23:08] agitter commented on #132
@vincerubinetti [Bokeh](https://bokeh.pydata.org/en/latest/) is one interactive visualization library.  There are others as well.  Jupyter notebooks combine documentation, code, and visualization, like [this example](https://github.com/greenelab/meta-review/blob/master/analyses/deep-review-contrib/02.contrib-viz.ipynb) from our analysis in this particular manuscript.

I interpret this comment more

[2019-02-09 13:24] agitter commented on #147
What are our thoughts about whether Manubot has WYSIWIG support?  It is possible to preview the edited markdown and render elements like lists and formatting.  However, the figure references, citations, and other aspects are not WYSIWIG.

I'm not sure about inline comments.  It could refer to the other platforms and which of them support commenting on specific lines.  Most of them do.  In general,

[2019-02-09 13:26] agitter commented on #134
@vincerubinetti your works helps us a lot with this comment.  I suggest that you continue working on your front end improvements and re-organization as planned and then we summarize the updates in the response to reviewers and this manuscript.  The themes and plugin organization should be described in the paper.

[2019-02-09 13:28] agitter commented on #132
Some related previous discussion https://github.com/greenelab/manubot-rootstock/issues/116

[2019-02-09 20:19] #115 closed

[2019-02-09 20:21] agitter commented on #124
My plan for this issue is to start making pull requests to address the individual comments and close the respective issues.  Once they are all finished, we can discuss the batch of changes here and reopen issues that need more revisions.

[2019-02-09 20:40] agitter commented on #138
There are at least three elements that would be needed for a private Manubot manuscript on GitHub:
- GitHub repository: unlimited private repositories are now included with a [Free account](https://github.com/pricing)
- GitHub pages: [`GitHub Pages is available in... private repositories with GitHub Pro, GitHub Team, GitHub Enterprise Cloud, and GitHub Enterprise Server.`](https://help.github.com/

[2019-02-09 20:55] dhimmel commented on #138
Okay. My guess is everything is possible (some Travis commands may change). However, what to do with the GitHub Pages site is the awkward thing. Presumably you want the HTML page to be private. So you could disable GitHub Pages. Or you could serve the webpage, but not keep the URL private. If you wanted to allow HTML views with a password, there are some [ugly workarounds](https://stackoverflow.co

[2019-02-09 21:25] agitter commented on #138
Disabling GitHub Pages might be the best and easiest compromise.  The PDF would be directly viewable from the gh-pages branch.  What about the HTML?  Would users have to pull the branch locally to view that correctly in a browser?

[2019-02-09 21:35] agitter opened #155 "Public demo manuscript"
I really liked the [PSB workshop manuscript](https://github.com/dhimmel/psb-manuscript/) @dhimmel set up to teach Manubot to potential users.  Should we consider creating a `manubot/demo` manuscript that we could advertise in this paper?

The pros would be that it could help us attract users by showing them how easy editing is once a manuscript is set up.  The cons would include the @manubot organ

[2019-02-10 17:17] slochower commented on #129
I think this is an issue of framing. We write "Based on our experience [...with DR], we discuss the advantages [...of Manubot]." I personally don't mind this phrasing, as it is historically accurate (as far as I can tell). We could rewrite the second and third paragraphs to introduce Manubot and then say it was used for DR, but I'd be reluctant to do so unless the other authors feeling strongly ab

[2019-02-10 17:22] slochower commented on #130
I don't have any good ideas for this. Perhaps we could add a figure showing how easy it is to make a PR, even through GitHub's web interface, to make changes to a manuscript. (1. Click Fork, 2. Edit some file in the web interface, 3. New pull request)? But showing screenshots of GitHub's web interface seems kind of clunky to me.

[2019-02-10 17:33] slochower commented on #131
- [Background on high-authorship physics papers](https://www.nature.com/news/physics-paper-sets-record-with-more-than-5-000-authors-1.17567)

- [Higgs boson paper with 5000 authors](https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.114.191803)
I'm not sure how this was written. But I speculate that one difference -- compared to our workflow -- is that this paper was only *written* by a few

[2019-02-10 17:34] slochower commented on #132
Plotly is also something to consider.

[2019-02-10 17:35] slochower commented on #133
@cgreene If I'm not mistaken, you have some relevant thoughts on this (right?).

[2019-02-10 17:37] slochower commented on #135
That was my understanding. I've received a similar comment for another manuscript where I stated the code was available on GitHub and they insisted a Zenodo archived copy. Zenodo is not ideal, but I don't know of better alternatives right now.

[2019-02-10 17:40] slochower commented on #136
I'm not sure such a situation has arisen yet, but I think according to the [ICMJE guidelines](http://www.icmje.org/recommendations/browse/roles-and-responsibilities/defining-the-role-of-authors-and-contributors.html), those individuals should be given authorship as long as they read and participate in revising the draft, approve the final version, and agree to be accountable for the work.

[2019-02-10 17:42] slochower commented on #136
But I should note that just because an author uses Manubot as a framework for writing their papers, the author is free to use whatever authorship guidelines they choose. Someone may use Manubot for writing a collaborative document in a totally different field with different standards.

[2019-02-10 17:43] slochower commented on #137
Like #136 , I view this as distinct from Manubot-the-python-package. In some fields or some documents, pseudo-authorship may be acceptable.

[2019-02-10 17:44] slochower commented on #138
AFAIK, one could set the workflow up on an internally hosted `git` instance, for example, on a company intranet. Then many authors could contribute and the continuous integration could be done on a company server.

[2019-02-10 17:44] slochower commented on #139
This could be addressed by the clunky figure proprosed in #130.

[2019-02-10 17:45] slochower commented on #140
I'm not sure I envision how this would work? By creating Issues or... directly commenting in the Markdown or... something else entirely?

[2019-02-10 17:52] slochower commented on #141
Cons (mostly related to `pandoc` and not Markdown, per se)
- Filters required for cross-referencing and many non-vanilla things.
- Most (?) filters are written in Lua, which does not seem to be a common programming language in the fields I'm familiar with

Pros
- Easy to write (can probably be learned in 5 minutes)
- Easy to read ([The overriding design goal for Markdown’s formatting syntax is to

[2019-02-10 17:54] slochower commented on #143
FWIW:

[2019-02-10 18:05] slochower commented on #147
Is it worth stating that many editors like Atom, VS Code, Sublime... can do interactive preview of Markdown documents? On the one hand, that is not really Manubot-specific in any way, but on the other hand, if not everyone knows this and they are considering using Manubot, it could be helpful.

Does anyone use Hypothesis to comment during the drafting process? Do comments in Hypothesis get preserv

[2019-02-10 18:08] slochower commented on #149
In retrospect, I agree and think this figure may be too large. In fact, I think I would favor replacing the author names altogether with "Author ###" or whatever. It's more important to me to see that 30 (?) different authors contributed to Deep Review throughout the 2+ years of development. Since I'm somewhat familiar with a few of the names on the list, I find their actual names to be a bit dist

[2019-02-10 18:29] dhimmel commented on #147
There is no WYSIWIG editor and it is not on the roadmap. Of course, you can use a partial WYSIWIG solution or a preview solution, but it won't understand the full array of formatting options. If you need WYSIWIG, something like [Manuscripts App 2.0](https://www.manuscriptsapp.com) (not released yet) or another browser based editor probably makes the most sense. I think this is a limitation of Manu

[2019-02-10 18:49] slochower commented on #147
We could mention `autobuild.sh`. That's about as close as we can come. We could make an animated `gif` showing a user writing in vim and `autobuild` displaying the output. Although that really only demonstrates half the pipeline (i.e., not the GitHub and CI portion), it is close to WYSIWIG writing.

[2019-02-10 18:55] dhimmel commented on #155
We don't want it to become like https://github.com/illacceptanything/illacceptanything? haha!

I think this is a great idea. I can set it up.

Sometimes it's helpful for users to be able to play around with figures, but yes we could be strict should licensing confusion become an issue.

At least at the beginning, the time required to maintain this repo should be minimal.

[2019-02-10 19:02] dhimmel commented on #150
GitLab comes to mind first, since it's open source and can host both the repository and perform continuous integration. Based on preliminary investigation in https://github.com/greenelab/manubot-rootstock/issues/88, there doesn't appear to be anything that would preclude using gitlab.com. My guess is that once we fully port the CI and deploy scripts, converting a GitHub/Travis instance to GitLab s

[2019-02-10 19:14] dhimmel commented on #149
Hmm, I think the names are a nice touch and add ways to use and interpret the figure. Perhaps they can be made smaller by switching to initials or last names only.

If I have time, I'll see if I can create a plot the same axes as the current plot, but with dots whose area signifies the contribution. It would lose the cumulative aspect, such that at any point in time you could see the contribution

[2019-02-10 19:21] slochower commented on #149
Sure, but consider this low priority since it's totally subjective and only aesthetic :)

I imagine so, yeah.

[2019-02-10 19:29] dhimmel commented on #141
Another pro of markdown is that it is widely used... GitHub comments, readmes, reddit.

I think the big limitation is that the commonmark standard is limited (no figures, citations, equations), such that we end up relying on extensions that may be less standardized (and supported by preview engines).

[2019-02-10 20:37] agitter commented on #138
@slochower that's a good point.  Unless the @greenelab is already set up to test this quickly, we don't necessarily have to try this.  It would be a good idea to describe that approach in the manuscript.

[2019-02-10 22:00] dhimmel commented on #135
# Software Heritage

I looked into software heritage a bit. It is essentially the Internet Archive but for source code. Software Heritage crawls GitHub and GitLab and essentially copies repositories.

manubot-rootstock for example has it's own [SH page here](https://archive.softwareheritage.org/browse/origin/https://github.com/greenelab/manubot-rootstock/directory/). The permalink for the latest v

[2019-02-11 22:55] agitter commented on #135
I'm curious to learn more about Software Heritage and check out their website in detail, but this seems like a good plan.

[2019-02-12 17:28] agitter commented on #126
I propose we also ask John MacFarlane if we can acknowledge him.  He has been very helpful with pandoc usage or debugging.

[2019-02-12 19:59] agitter commented on #130
I don't good ideas here either.  The reviewer may be picking up on some of the technical jargon-heavy paragraphs.  We could do something like keep the main text about _what_ Manubot can do and use Boxes or other asides to describe _how_ Manubot does that from a technical standpoint.  Part of the issue may be that the "Results" and "Methods" are integrated in each section.

[2019-02-12 20:01] agitter commented on #131
Great resources.  If we want to dig in more beyond these references, I could also talk to my office neighbor how has been tangentially involved in particle physics projects.  Synthesizing these references should suffice though.

[2019-02-12 20:03] agitter commented on #132
Aside from the technical feasibility, do we have a strong vision of the desired behavior for a Manubot manuscript with interactive graphics?  Specifically, would the PDF version have a static snapshot in some default initial setting in the place of the interactive graphics?

[2019-02-12 20:05] agitter commented on #133
@dhimmel is this proposal still the most current document about future plans? https://greenelab.github.io/manufund-2018/

That has a pretty clear short and long term vision that I support.

[2019-02-12 20:13] agitter commented on #136
Exactly, this is the main point I want to make.  Other fields (e.g. those particle physics examples) may not follow ICMJE to decide authorship.  It's really up to the repository maintainer to decide authorship policies and act on good faith to represent the interests of those who contributed.

I'll tackle this issue and the related #137 when I work on #123.

[2019-02-12 20:15] agitter commented on #139
We could also consider a short video showing this process.

[2019-02-12 20:22] agitter commented on #140
Well, we now know that a non-anonymous reviewer could use the workflow to do the review 😆  We could refer back to the [JOSS](https://joss.theoj.org/) review process if we bring that up.

As for anonymous reviewers, maybe some sort of pseudonymous GitHub account is the closest option.  I don't know of any way to interact with GitHub repositories anonymously.  I also do not know how a reviewer could

[2019-02-12 20:23] agitter commented on #143
I believe @dhimmel originally had more of this chronological information in and I suggested removing it.  We'll add it back.

[2019-02-12 20:27] #145 closed

[2019-02-12 20:28] #117 closed

[2019-02-12 20:31] agitter commented on #147
On a related note, we may want to ask Overleaf and Authorea representatives to review Table 1 after we update it to make sure we're being accurate and fair.

[2019-02-12 20:32] agitter commented on #155
And if there is a lot of activity, that would be a good problem to have.  Reviewing demo pull requests would also be a low-commitment way for someone to contribute to the @manubot org.

[2019-02-12 20:35] agitter commented on #149
I also liked the cumulative aspect of the current visualization.  I don't see the benefits of the dot plot.

[2019-02-12 20:37] agitter commented on #141
We can reference the manubot-rootstock demo and USAGE.md and describe in the manuscript how Figure references, etc. is supported.

In the long term, the JATS output could also be a big advantage.

[2019-02-13 01:56] dhimmel commented on #126
Agreed. @jgm would you be okay with us acknowledging you in our manuscript describing the Manubot tool? We'd add it to [this section](https://greenelab.github.io/meta-review/v/c4baa224a99d86d88e32c2dab67245c47838fbde/#acknowledgments). Manubot uses pandoc along with other open source tools to create automated workflows for scholarly publishing. Thanks for your help across many pandoc issues over t

[2019-02-13 02:01] slochower commented on #132
I don't have a strong vision, no. I think it would be something like what you say: maybe a snapshot of the first frame or some key frame. That looks like the approach taken by the `remote_refocus` manuscript mentioned in https://github.com/manubot/rootstock/issues/116.

[2019-02-13 02:08] slochower commented on #140
That's a good point.

A related point is that there really isn't a good way of reviewing PRs except through GitHub's web interface (unless you're a `git` expert) and, additionally, possibly cloning & building a local copy in the case of e.g., updated figures. That's slightly burdensome for colleagues that aren't familiar with GitHub. Perhaps this could relate back to using Travis artifacts in http

[2019-02-13 02:12] dhimmel commented on #132
Currently, we create the PDF by rendering the HTML. Essentially, it's like we're printing the webpage to PDF. While we are likely going to switch the engine that goes from HTML to PDF as per https://github.com/manubot/rootstock/issues/170, this will almost certainly remain our strategy.

Therefore, ideally interactive HTML element would convert properly to PDF. Furthermore, their default state sho

[2019-02-13 02:23] dhimmel commented on #133
Yeah. Those all still apply. A few technical plans to add:

+ overhaul the environment management. probably switch to using a docker image with the environment. need to open an issue on this soon.
+ simplify how manubot is run. One vision is that we could get it to work on repositories that have little more than a `content` directory. I.e. reduce the setup and infrastructure to the bare minimum.
+

[2019-02-13 02:27] slochower commented on #139
Here's a really inelegant "sketch"  of what it could look like.
![manubot](https://user-images.githubusercontent.com/5393995/52682303-c8a99b80-2ef3-11e9-8558-719c08a7070d.gif)

[2019-02-13 03:39] vsmalladi commented on #155
That is a great idea.

[2019-02-13 03:50] vsmalladi commented on #138
We setup an internal gitlab server that can still build github like pages and do the continuous integration through gitlab runner. We can protect who has access to the repository and the output on our cluster.
Has anyone made progress on gitlab #150?

[2019-02-13 05:29] jgm commented on #126
Sure, no objections!

[2019-02-13 15:04] agitter commented on #133
For adoption, I could Manubot really taking off, especially with the large non-technical audience, if we can minimize the setup required for a new manuscript.  Simplifying how Manubot is run would help with that. I also find a GitHub app (https://github.com/manubot/rootstock/issues/74#issuecomment-334580822) appealing, but I don't think that is on our current roadmap.

[2019-02-13 15:12] agitter commented on #139
@slochower That's awesome.  I think this would go a long way for making the whole process more clear and attracting users.

This participant-centric view is very important.  Is it more streamlined if we avoid switching to the participant's fork?  I believe that a new participant can edit a file in the original repository (e.g. greenelab/meta-review) and then create a branch and pull request withou

[2019-02-13 15:13] agitter commented on #138
@vsmalladi I haven't worked on #150.  Would you want to take the lead on a GitLab proof of concept and possible testing with private repositories for the revisions?

[2019-02-13 15:21] dhimmel commented on #139
Yes, we should use the method where you click on the pencil icon in the upstream manuscript, then GitHub creates the fork for you (if necessary), adds your commit to a new branch (e.g. `patch-1`), and then sends you to an open PR page. We want to make sure we don't encourage forks to commit to their master branch as the current recording shows.

This is the [workflow](https://slides.com/dhimmel/ps

[2019-02-13 15:34] agitter commented on #139
This might be something that is better stated or written instead of showing it in the interest of keeping the video short, especially if we show the maintainer side as well.

[2019-02-13 15:48] slochower commented on #139
Yep.  I can take another crack later. But FYI, I skipped creating a branch on my form because the video file size was getting too big for GitHub to upload in an issue.

Sent from my iPhone

[2019-02-13 15:50] dhimmel commented on #139
What software are you using to create the GIF? We probably want a mp4 version as well, perhaps on YouTube, and then we can just use the GIFs places that don't support YouTube embeds.

[2019-02-13 16:38] slochower commented on #139
Simplescreenrecorder to MKV; ffmpeg to GIF.

Would be nice to do the other side: Mainers could request a citation, for example, but then I’d have to actually make a demo PR. Would that be okay? Anyone know if it’s acceptable with Github’s TOS to make dummy accounts?

Sent from my iPad

[2019-02-13 22:44] vsmalladi commented on #138
I can start taking a look at this.

[2019-02-14 12:38] dhimmel commented on #135
I received this email from GitLab:

This is because I amended a commit (now https://github.com/manubot/manubot/commit/81394c0a8153fa3ad41ee3cb987227c8ea043125) on the master branch a few times when fixing a [deployment issue](https://github.com/manubot/manubot/pull/97#issuecomment-462590972).

When configuring the GitLab mirror, I had left the following setting unchecked:

If disabled, a diverged

[2019-02-14 13:02] dhimmel commented on #135
Okay we now have two GitLab mirrors:

+ https://gitlab.com/manubot/rootstock
+ https://gitlab.com/manubot/manubot

I've protected the `master` branch on both GitHub repositories, so force pushes should no longer work.

Here are software heritage permalinks, which we should update to the most recent version before resubmission:

[code]

[2019-02-14 14:30] vincerubinetti commented on #155
Would it make sense to combine this in some way with https://github.com/manubot/rootstock/pull/169 ?

[2019-02-14 14:47] agitter commented on #155
@vincerubinetti I'm not strongly opposed to combining them, but I do see the two example manuscripts as serving different purposes.  The demo's goal would be to encourage prospective users to experiment with citations, formatting, pull requests, etc.  It could get quite long and messy.  The example in the `rootstock` repository is a carefully-curated document showcasing Manubot/Markdown/Pandoc's f

[2019-02-14 15:24] vsmalladi commented on #138
@agitter I can't assign this issueor #150 to myself. Am I missing something ?

[2019-02-14 20:21] dhimmel commented on #138
@vsmalladi I just invited you to be a collaborator on this repository, which should allow you to assign yourself.

[2019-02-21 12:37] #135 closed

[2019-02-21 12:39] agitter commented on #151
PLOS sent me a reminder that they would like the revision by March 7.  I can easily request an extension but would like to discuss our timeline for the revisions.  I should have more time to work on this over the next few weeks.

Can we start by going through the issues and making sure one or more of us has self-assigned to each one?

[2019-02-22 18:58] slochower commented on #151
I'm going through a busy period at work, so I will be most effective if I can narrow my attention to a few Issues/PRs.

I can add a little more text to #146.
#143 seems like low hanging fruit.
#142 seems like it's open ended. Probably need to narrow focus a bit -- presumably some journals no problem with format, some journals will not be happy.
#141 I can put the Pros/Cons in the text, but @dhimme

[2019-02-22 20:59] agitter commented on #151
Thanks @slochower, I'll look through some of the other issues you didn't mention and try to focus on those.  I'm fairly busy over the next week but may free up somewhat after that.

[2019-02-25 20:14] vsmalladi commented on #151
I’m also just getting back from traveling so will take a look at other issue this week.

[2019-02-26 15:29] agitter commented on #151
I requested more time for the revisions without specifying a specific new deadline.  I'm going to actively dig into the revisions Friday or Saturday and expect to make substantial progress the following week.

Can anyone help update Table 1 for #146 and #147?  We should make sure this table is still accurate with respect to the most recent versions of platforms like Overleaf that have changed a lo

[2019-02-26 15:30] agitter commented on #148
@cgreene you made the original version of this figure showing the pull request workflow.  What do you think about this suggestion?

[2019-02-27 11:08] cgreene commented on #148
This suggestion seems good to me. I'm happy to work on this.

[2019-02-27 11:33] cgreene commented on #148
I got started on this but need to do some other stuff. I've changed the bottom here. I'm not entirely sure the change in orientation (better for timeline) is worth the clarity cost in terms of the required changes to the text to make things fit on a reasonably sized page:
https://docs.google.com/drawings/d/17mst0Z1RMXegeGhM6SwQSJ4nhHgMMh5csyV4MwhsgAY/edit

I'm happy to keep going if you think this

[2019-02-27 12:50] agitter commented on #148
That seems reasonable to me.

[2019-03-01 17:33] cgreene commented on #148
I have now created version 1.1.0. This version keeps the vertical alignment, adds a timeline, and changes the style to be different between Document content (solid lines, left) and github Discussion (squiggly lines, right).

[2019-03-02 13:40] agitter commented on #149
Recent discussions of Stencila, binder, and related tools reminded me of this reviewer request.  @dhimmel already used a Jupyter notebook to generate the figure.  I believe it would not be too difficult to offer a runnable version of this figure's notebook through binder.  That would help position Manubot in the "manuscript of the future" discussions.

If we like the cumulative aspects of this fig

[2019-03-02 18:17] slochower commented on #149
I think that's a great idea, especially in the context of [Introducing eLife’s first computationally reproducible article](https://elifesciences.org/labs/ad58f08d/introducing-elife-s-first-computationally-reproducible-article).

[2019-03-02 20:21] dhimmel commented on #149
I've been thinking about eLife's [example document](https://repro.elifesciences.org/example.html#) and whether it is useful to be able to run code in a manuscript. Perhaps this is a contrarian view, but I don't think there is currently much benefit to in-manuscript code interactivity. Mainly, the amount of code required to make a complex data analysis and visualization is too much to handle inside

[2019-03-02 21:44] agitter commented on #149
@dhimmel I played around with the example manuscript and agree with your views.  I like interactive graphics in HTML manuscripts but think the executable code can be external.

I definitely think this is important.  Because you already set up the meta-review analysis and figures this way, a binder link in the figure caption may help draw attention to that.  Linking to the static notebooks would pr

[2019-03-05 19:06] betatim opened #162 "CI for your environment"
If you want a not-terribly-complex way to make sure your environment still builds and does something useful adding something like `repo2docker --no-run .` to your CI setup should get you most of the way there. There are several repos that do this as a way to get continuous integration for their environment.

`repo2docker . verify` where `verify` is an executable script in your repo that determines

[2019-03-05 19:44] dhimmel commented on #162
Hah! But what about if we tag a commit and link users to the tag? This way users should always arrive at a prebuilt image and we just have to make sure is that we correct any binder issues if we're going to force change the tag?

@agitter I am okay with this solution, but I think it underscores that we probably should just move the figure generation to its own repo with its own CI

[2019-03-05 21:59] betatim commented on #162
mybinder.org assumes that rebuilding your image at a given SHA at different points in time will result in the same image and makes no promises about how long we will keep cached images, so you have to be ready at "any time" for your image to be rebuilt. When it does happen people make one step forwards on the above list :) In practice it seems to happen a few times a year that we empty the cache.

[2019-03-05 22:04] agitter commented on #162
Okay, that part is important for our intended use case.  We have a few high-priority changes to make in the next few weeks but then will discuss setting up CI for this environment, possibly in a new analysis repo.

[2019-03-07 16:32] agitter commented on #126
As a reminder to myself, we should also remove Dongbo from the acknowledgements when we add him as an author.

[2019-03-07 21:30] slochower opened #166 "Example citations not resolving as expected"
I just tried the recommended citation in the manuscript (unlike source code, there doesn't seem to be a way to link and directly embed Markdown lines in an Issue) and received an error for both citations.

[code]

I am using the latest GitHub commit of `manubot` (`81394c0`):

[code]

[2019-03-07 21:32] slochower commented on #166
If I re-run the exact same command, there's a little more from Crossref:

[code]

[2019-03-07 23:03] dhimmel commented on #166
It almost certainly a temperamental error upstream like a server outage that should resolve without us doing anything.

Currently, it looks like the Crossref infrastructure is experiencing issues, as attempting to query `https://api.crossref.org/works/10.1038/550143a` is very slow for me (but does work, as does the manubot cite command).

[2019-03-07 23:19] agitter commented on #166
The example manubot command worked for me now.  @slochower is it back up for you as well?

[2019-03-07 23:25] slochower commented on #166
Indeed, it did just work for me.

[2019-03-08 00:05] agitter commented on #166
Should we close this and attribute it to an intermittent upstream problem?

[2019-03-08 00:09] slochower commented on #166
Yes, that's fair. I think it's a great thing we cache the references, otherwise this issue would be more troubling.

[2019-03-08 00:09] #166 closed

[2019-03-09 15:17] agitter commented on #149
Thanks to @dhimmel we now have three versions of the deep-review contributions figure and can soon close this issue.  I can write the response to describe how there are three alternative versions of the figure in the notebook, which is now executable in Binder.

We still need to choose which version to use in the manuscript:

Ridge:
![Ridge](https://github.com/greenelab/meta-review/raw/master/anal

[2019-03-11 14:11] dhimmel commented on #149
I like both the ridge and dot plot. Unless anyone has a strong preference for the dot plot, I'd say we keep the ridge plot the manuscript visualization.

[2019-03-14 17:15] vincerubinetti opened #168 "Front-end figures and text"
I'll put some figures and write-ups on my involvement in the Manubot project in this issue, so people can review theme for inclusion in the Meta Review.

Here's the first one, overviewing the plugins:

![plugins](https://user-images.githubusercontent.com/8326331/54377249-29470800-465b-11e9-81d8-92e38504b73e.jpg)

I'll probably do another figure of just a general screenshot of the theme and plugins

[2019-03-15 20:59] slochower commented on #168
This looks really nice. The only thing I think is a little unclear is the "same citation highlighting." I can see what it is, but I wasn't even aware you added that feature. What are you planning to put into the caption?

[2019-03-15 22:06] slochower commented on #130
Does anyone else have good ideas for reducing the jargon? I'm not sure any of the recent PRs have addressed the overall technicality.  I can foresee a few ways forward:

1. Do nothing (which seems like it might be fine based on the reviewers' comments),
2. Go through the paper, identify technical phrases, and try to find alternates,
3. Add some less-technical stuff in introduction and conclusion,

[2019-03-15 22:07] slochower commented on #142
I think for now we say that we have been successful submitted PDFs to journals but with DOCX support, it should be straightforward -- in principle -- to apply a journal-supplied Style file to content produced by Manubot.

[2019-03-16 21:02] agitter commented on #142
I'll make a small pull request to add something to the text along these lines.  In the response letter I can say more about how styles might be applied through Pandoc's `--reference-doc` (https://github.com/manubot/rootstock/issues/189), but because we aren't doing that yet I'll keep that out of the manuscript.

[2019-03-16 21:23] agitter commented on #130
1 and 4 seem like the best options to me.  We want this manuscript to serve as a reference for Manubot, so in previous discussions we were inclined to leave some of the technical discussion in.  We could try to fine synonyms or add context for the most technical parts, but some of this is inherently heavy on jargon.

My vision for 4 is that we would need a separate "Methods" section that contains

[2019-03-16 21:27] agitter commented on #132
Our Binder additions can be discussed in response to this.

[2019-03-16 21:30] agitter commented on #168
This looks great.  Do we plan to add this directly as a figure in the manuscript?  I think it would be valuable to draw attention to these great features.  The only downside may be if we expect the front end to continue evolving such that this snapshot of the features would grow stale quickly.

We should add a paragraph about the front end features and plugins to the `Manubot` section.  Maybe afte

[2019-03-17 14:43] dhimmel commented on #168
I think we should. There are two aspects that the figure shows. First, the conceptual feature (as indicated by the panel names). Second, a stylistic implementation of the concept (as shown by the figures). The specific implementation helps the viewer understand the concept. While the implementation / style may change, I think the concepts are more stable. Therefore, I view this figure as a somewha

[2019-03-17 14:48] dhimmel commented on #130
I support 1 and when possible 3.

Having some takeaway from the manuscript for non-technical readers is a goal we should keep in mind. However, given the time it would take to majorly restructure or rewrite the manuscript, I think this should remain a guiding principal when making changes, but not something we specifically revise the manuscript for.

[2019-03-18 11:37] agitter commented on #168
After more consideration, I also favor using this directly in the manuscript.  The more important points about Manubot we can convey through figures alone the better.  Those appear in PubMed and other places as a summary of the full paper.

[2019-03-18 13:12] vincerubinetti commented on #168
Another thing is that, unlike any other feature, that "glow" (as I call it in the code) is a temporary animation just for a small visual aid. I'm not sure it'll be clear what it is doing or what it means in a static snapshot.

I can take this out. Had it in to show that it will still work when the caption is long - sort of to indicate "we've thought of everything". But yeah it doesn't look super g

[2019-03-18 19:14] vincerubinetti commented on #168
Here is my draft text. This is to be inserted after `Citation utility` and before `Authorship`. The paragraph of text in the upper-left corner of the image/figure will be removed, just leaving `o-<M>-o PLUGINS` centered in the whitespace.

[code]

[2019-03-18 19:19] dhimmel commented on #168
Looks great. Can you open a PR, where we'll perform the review.

[2019-03-19 11:35] agitter opened #173 "Explorable Multiverse Analyses"
Not only does this project look interesting, but their related work section also cites other efforts that be may relevant for our "paper of the future" Discussion section.

https://explorablemultiverse.github.io/

[2019-03-19 15:02] #142 closed

[2019-03-19 15:17] #146 closed

[2019-03-20 11:53] #131 closed

[2019-03-20 19:22] agitter commented on #126
@zach-hensel we're revising a manuscript describing Manubot and collaborative writing.  Can we add you to the acknowledgments for your help with Manubot testing and debugging?

[2019-03-20 21:30] #132 closed

[2019-03-20 21:30] #149 closed

[2019-03-21 15:17] dhimmel commented on #173
From the [publication](https://hal.inria.fr/hal-01976951/document):

Source code for their webpage is [here](https://github.com/explorablemultiverse/explorablemultiverse.github.io).

[2019-03-22 16:39] agitter commented on #151
@dhimmel @slochower @vsmalladi @cgreene how feasible would it be for us to finish the meta review revisions in the next 7-10 days?  We made good progress over the past week.  I'd like to agree on a deadline so that we can wrap this up.

I'm going to go through the open issues and work on identifying a lead for each one.  That can help scope how much more time we need.

[2019-03-22 16:44] agitter commented on #155
@dhimmel I assigned you to this issue based on your response above.  If you can't set this up before we resubmit, I could work on it instead.

[2019-03-22 16:49] agitter commented on #173
Cross referencing #47.

[2019-03-22 16:52] agitter commented on #127
@vincerubinetti and @dongbohu we're getting closer to resubmitting this paper.  Can you please review the manuscript and add your information to [`metadata.yaml`](https://github.com/greenelab/meta-review/blob/master/content/metadata.yaml) sometime in the next week if you approve?

Before submission, we will still discuss the new author order here.

[2019-03-22 16:53] agitter commented on #126
I can update the text when it is time. @dhimmel and @vincerubinetti can you please help me recall any other new manubot or rootstock contributors?

[2019-03-22 16:58] slochower commented on #151
I think it's feasible. On a personal note, I will be traveling and giving two talks next week so I'm not entirely clear what my availability will be. If you can assign me Issues before this Sunday, I think I can more easily weave them into my downtime.

[2019-03-22 17:48] agitter opened #174 "Add subsections to the Manubot section"
This is a long section with many different ideas.  Subsections may help guide readers and make Manubot's features stand out better.

[2019-03-22 17:52] agitter commented on #155
I suggest we create a new `Getting started with Manubot` subsection that can expand upon the current sentence:

We can reference this new public demo and the discussion in #104, including the newly expanded `02.delete-me.md` that illustrates Manubot's features.

[2019-03-22 17:55] dongbohu commented on #127
@agitter, thanks. I have reviewed the manuscript and added my info.

[2019-03-22 18:00] dhimmel commented on #127
Ah I see in https://github.com/greenelab/meta-review/commit/71b1744fceaa07367f7e7c90534628c1eabe0c8d. For future reference @dongbohu, please don't commit to master directly and instead submit PRs from your fork. All changes are handled through PR here, besides perhaps minor emergency changes by maintainers.

[2019-03-22 18:07] agitter commented on #127
Before closing this issue, I'll update our Funding statement in the manuscript.

[2019-03-22 18:22] agitter commented on #129
I'm not certain whether this comment pertains to the introduction or the ordering of the main `Contribution workflow` and `Manubot` sections.  If the main sections, it may be possible to re-order them.  If we keep the original order, how can we better unite these two sections?  Maybe renaming the sections to `Manubot's contribution workflow` and `Manubot features` (with additional structure #174)

[2019-03-22 18:24] agitter commented on #130
We can all look for places to provide context for technical terms where it is missing.

@dhimmel should one of us add an additional paragraph to the end of the introduction providing some key takeaways and Manubot features?  The current intro spends more time on deep review than Manubot.

[2019-03-22 18:26] dhimmel commented on #155
I like the idea of a "Getting started with Manubot". I can write this. We'll also note in this section that the manubot architecture may change drastically, but we will try to make migration manageable and will provide migration support to existing manuscripts.

What should we name the repo? Some possibilities:

- `manubot/demo`
- `manubot/sandbox`
- `manubot/practice`

[2019-03-22 18:27] agitter commented on #133
@dhimmel is it okay to assign you to this?  I like your ideas above.

Something that works as easily as https://github.com/jupyter/repo2docker/ would be fantastic, and we could refer to that project as inspiration if we find it relevant enough.

We mention JATS integration once already, but we could note that again as a potential future path toward better linking Manubot with traditional publisher

[2019-03-22 18:28] agitter commented on #134
I assigned @vincerubinetti because his pull request #168 already addresses this.

[2019-03-22 18:31] agitter commented on #155
I like `manubot/practice` because it acts as an invite for users to actively modify the content.  `manubot/try-me` would convey the same thing but doesn't sound very good.

`manubot/demo` is my second choice.

[2019-03-22 18:35] dhimmel commented on #155
I like `try-me`. Let's get some input from @slochower @vincerubinetti @cgreene @vsmalladi.

[2019-03-22 18:45] agitter commented on #138
@vsmalladi I assigned you to this issue.  Do you have time to work on it next week?  I think this revisions should be part of a broader paragraph on alternative workflows that discusses #150, running on a private git server, and disabling GitHub Pages as alternatives to the fully public GitHub + Travis workflow we present.

It's tangential to this issue, but I confirmed it is possible to get an ed

[2019-03-22 18:48] agitter commented on #139
@slochower I really liked this video.  Will you be able to update it or is it difficult to do while traveling?  If you have the ability to update, I can discuss details of the workflow with you and @dhimmel.

Once we establish the demo manuscript in #155 we could use that to actually make a PR.

[2019-03-22 18:49] agitter commented on #140
I'll write something about this when we talk about pre- and post-publication peer review.

[2019-03-22 18:51] agitter commented on #141
@dhimmel or @vincerubinetti could you work on this?  We should make sure it is clear even for casual readers that things like figure references are supported.  #168 will help with that substantially.

[2019-03-22 18:59] agitter commented on #147
If we could push artifacts as in #121 that would also help.  Still not WYSIWIG, but it would be easier to catch errors.

I could work on this if I have time, but I'm going to tackle all the other issues I self-assigned first.  Can anyone else work on this table and review the features of competing systems again?  I can comment on those I use regularly, like Overleaf v2.

[2019-03-22 19:00] agitter commented on #148
@cgreene we may have discussed also adding the meaning of the straight versus squiggly lines to the legend.  Will you have time to make that update, add this to the manuscript, and write a quick response to the reviewer?

[2019-03-22 19:03] agitter commented on #150
@vsmalladi this is related to #138.  Would you be able to work on this as well?  Drone, Appveyor, and Circle CI come to mind as other CI options.  I'd like to mention those so we can offer them as a potential future solution to #121.

GitLab and BitBucket are potential alternative code repositories.

[2019-03-22 19:07] agitter commented on #122
@dhimmel can you please copy part of this discussion into the response to reviewers and reference this issue so that the other reviewers and editor can follow along?  Feel free to edit the manuscript text as needed too.

[2019-03-22 19:12] agitter commented on #120
@dhimmel we could include this as part of the future vision #133.  It sounds like a great use case once we have #121 working.

[2019-03-22 19:17] agitter commented on #121
Because Travis CI doesn't directly support this, I propose we open an issue at `manubot/rootstock` to continue our planning and add it as an area of future work in #133.  This really is an important feature that I would like to pursue.

[2019-03-22 19:18] agitter commented on #114
@dhimmel do you know of references we should use here?  If not, I'll help look for them.

[2019-03-22 20:06] slochower commented on #155
I like `manubot/try-me` (it's in the spirit of `02.delete-me.md`).

[2019-03-22 20:09] slochower commented on #139
I can update it. I think I was waiting to figure out if I could/should make an actual PR on the main repository. But I think using the "try me" repository is a great solution! I'll keep me eye on that and redo this video. Should I add an example citation too?

[2019-03-22 21:22] #122 closed

[2019-03-22 21:35] dhimmel commented on #118
For general reference, GitHub [autolinked](https://help.github.com/en/articles/autolinked-references-and-urls) certain references and URLs to other GitHub pages. For example, here is raw text:

[code]

The following text is pasted below, and will display with GitHub's shortened link syntax:

https://github.com/greenelab/meta-review/commit/d4a642efa06896209ddfa6e3d2387a58232e61f5
d4a642efa06896209d

[2019-03-22 21:35] agitter commented on #139
Yes, I think that would be a great use case and let readers see the cite by id feature.  We could draft a workflow between a Participant (P) and Maintainer (M) before the try-me repo is ready.  How about:

P: Uses the pencil icon edit (per above) to add a sentence using a new branch
M: Reviews and requests a supporting reference
P: Adds the reference
M: Approves and merges

Is that too long?  We w

[2019-03-22 22:45] slochower commented on #139
I'll give this a shot and see if we can keep the whole thing under a minute.

Do you think we'll embed the video in the manuscript? It might also work well in a README.

[2019-03-23 03:35] dhimmel commented on #126
@lierdakil has provided helpful advice in several discussions such as https://github.com/manubot/rootstock/pull/196#issuecomment-475473699 and https://github.com/lierdakil/pandoc-crossref/issues/30#issuecomment-124023824. @lierdakil want to give this comment a thumbs up if you are okay with us acknowledging you in our [manuscript](https://greenelab.github.io/meta-review/v/d4a642efa06896209ddfa6e3d

[2019-03-23 11:43] agitter commented on #139
@dhimmel suggested

I'm not sure whether we can embed a video in the manuscript.  We could for the HTML Manubot output, but I don't know how we could adapt it for PLOS.  Maybe we have to link to an external video?

If you need me to act as the participant or maintainer for the video, we could coordinate the PR.

[2019-03-25 00:18] vsmalladi commented on #138
Ya will have some time to work on it this week.

[2019-03-25 00:18] vsmalladi commented on #150
Should have some time to work on this as well.

[2019-03-25 13:36] vincerubinetti commented on #134
I'd say this can probably be closed. It's a somewhat subjective thing, obviously, but I think the new theme addresses the "stale" look. Aesthetic appeal is always on the front of my mind when developing things, and it's also a never-ending/on-going thing, so it probably doesn't need to be tracked in an issue (assuming you feel the new theme gets us most of the way there).

[2019-03-25 13:38] dhimmel commented on #134
Let's close this with https://github.com/greenelab/meta-review/issues/168

[2019-03-25 13:39] vincerubinetti commented on #155
`manubot/playground`?

[2019-03-25 13:40] #118 closed

[2019-03-25 13:40] #121 closed

[2019-03-25 13:55] cgreene commented on #148
@agitter : Yep - I'll do this - thanks for the reminder!

[2019-03-25 14:11] vincerubinetti commented on #141
*EDIT* misread the comment above. Made new issue for my unrelated response: #181

[2019-03-25 14:32] dhimmel commented on #141
As of [manuscript in `3a6da10`](https://greenelab.github.io/meta-review/v/3a6da10563c2c010a9c7b9086079a30fd1fa6443/), we say:

However, we do not mention that we use pandoc filters to provide numbered references to figures/equations/tables as per https://github.com/manubot/rootstock/issues/1. I can take a look how we should incorporate this information, without unduly burdening the reader.

[2019-03-25 14:44] agitter commented on #155
That's another good suggestion.  My new ordering is:
1) `try-me`
2) `playground`
3) `practice`

I'd be happy with any of those.  We could also be more explicit and use `manubot/try-manubot`.

[2019-03-25 14:58] dhimmel commented on #155
`try-manubot` is descriptive. I also like `playground`, but think it's a bit less descriptive.

[2019-03-25 18:16] slochower commented on #139
@agitter I can carve out some time later this afternoon. Do you think we'll have the `try-me`/`playground` manuscript up today?

[2019-03-25 18:18] dhimmel commented on #139
I can set up the manuscript whenever... just waiting till we finalize a name.

[2019-03-25 18:20] slochower commented on #139
@dhimmel Would you mind dropping a note here and tag me when you setup the manuscript?

[2019-03-25 20:54] cgreene commented on #148
I've attempted to revise this with https://github.com/greenelab/meta-review/pull/180

[2019-03-26 13:25] dhimmel commented on #155
Okay I created https://github.com/manubot/try-manubot. Still need to create a PR that updates the README documentation.

[2019-03-26 13:48] vincerubinetti opened #181 "General "gestalt" screenshot of Manubot"
Perhaps it would be good to have another screenshot that shows the front-end as a whole. Something that shows in one picture the basic idea of Manubot and what it can do. The plugin screenshots are good, but they are purposefully narrow-view as to only focus on the particular feature they're highlighting. We'll need something like this for the manubot.org landing page and other related "marketing"

[2019-03-26 13:54] vincerubinetti commented on #126
Not sure the level you want to go with the acknowledgments, but a bunch of people and the Greene Lab helped me by giving feedback on the logo and front-end. We've also had a few people point out small bugs.

[2019-03-26 14:12] dhimmel commented on #181
I agree a single shot that can provide a big picture view of Manubot would be valuable. If gestalt, I would probably be in favor of including it in this manuscript. But even if not, we'll definitely have a use for it.

[2019-03-26 14:45] agitter commented on #181
Great idea.  A big picture graphic for the Manubot front end would be valuable.

To truly be a "gestalt" figure, it may need to include the front end + the continuous deployment back end.  Keeping the scope to the front end for now would make sense though, especially for our short term branding and resubmission efforts for this manuscript.

[2019-03-26 14:48] agitter commented on #126
@vincerubinetti we tend to be very inclusive with acknowledgements, especially for this manuscript.  If you think of anyone, please feel free to tag them here so they can indicate their approval for being included, as @dhimmel and I did above.

[2019-03-26 14:52] vincerubinetti commented on #126
@ypar @cgreene @zietzm @ajlee21 @ben-heil @zach-hensel @gwaygenomics

[2019-03-26 14:56] agitter commented on #126
@ypar @ajlee21 @ben-heil we tagged you in this issue to ask whether it is okay for us to acknowledge your help in our [manuscript ](https://greenelab.github.io/meta-review/v/4caa4b52b2da59c136b8febaa8011eb7a0e506ee/) describing the Manubot software.  If you agree, please confirm in this issue how you would like your name to appear in the acknowledgements text.

(The others above are already acknow

[2019-03-26 18:24] ypar commented on #126
ok for acknowledgements
name YoSon Park

[2019-03-26 19:13] agitter commented on #134
Yes.  We could also link https://github.com/manubot/rootstock/issues/189 or https://github.com/manubot/rootstock/issues/192 in the response letter to show where we are going next with aesthetics.

[2019-03-26 19:27] ajlee21 commented on #126
I'm not sure how much I helped, so I leave the decision up to you.  If you choose to add me my name is "Alexandra J Lee"

[2019-03-27 13:43] dhimmel commented on #151
I think wrapping things up in the next week is reasonable, and I'll aim for that. @agitter, I think you probably have the best handle on what's left to do. Feel free to assign me issues that you think I'll be the most effective in addressing.

[2019-03-27 14:06] #148 closed

[2019-03-27 15:19] ben-heil commented on #126
I'm in the same boat as Alex, but if you choose to add me my name is 'Benjamin J Heil'

[2019-03-27 15:53] slochower commented on #139
I see https://github.com/manubot/try-manubot is up now.

@agitter how about we follow the plan you suggested above.

0. We show the rendered manuscript.
1. I make a PR.
2. You request a citation.
3. I add the citation.
4. You approve the PR.
5. We show the rendered manuscript.

The question is how to integrate these into a coherent movie. If you record steps 2 and 4, we might be able to just stitc

[2019-03-28 04:02] slochower commented on #139
Here's a rough cut. I tried to not go too fast to obscure what I was doing, but it's already 1 minute 20 seconds.

![Manubot](https://user-images.githubusercontent.com/5393995/55129244-c048a100-50ec-11e9-9efd-1f039424f947.gif)

[2019-03-28 11:37] #116 closed

[2019-03-28 11:37] #119 closed

[2019-03-28 11:40] #110 closed

[2019-03-28 11:40] #123 closed

[2019-03-28 11:40] #136 closed

[2019-03-28 11:40] #137 closed

[2019-03-28 13:09] agitter commented on #139
@slochower I had commented in `https://github.com/manubot/try-manubot/pull/2` but did not realize at first that was the PR for this video.  I'll make a more deliberate and carefully worded review later.

I like your workflow above.  To speed things up, we could only show the contributor's perspective (i.e. yours) and not record my side.  You would come back to the PR, look at the new review, and m

[2019-03-28 15:24] agitter commented on #139
@slochower I reviewed the video now and think this is perfect.  I like that your initial view of the manuscript only shows the abstract because the main text is currently empty.

@dhimmel do you have any comments?

If we like this for the first part of the video, then I will proceed to review the pull request.  I will comment on the edited line saying `Please add a URL citation to this manuscript.

[2019-03-28 15:38] slochower commented on #139
Right :)

Okay great!

[2019-03-28 16:34] dhimmel commented on #139
The recording is good.

Are you also going to request the authorship information to `metadata.yaml`? I think it could be useful to show how you can edit additional files using the GitHub UI in a PR. However, it could also be a bit too in the weeds.

[2019-03-28 16:50] agitter commented on #139
I wasn't planning to but I'm open to suggestions.  I didn't realize this was possible until you mentioned it.  Is the easiest route to browse the repo on that branch (https://github.com/slochower/try-manubot/tree/patch-1) and then pencil edit another file?

I'm inclined to keep this demo simple and include in our documentation somewhere that this is possible.

[2019-03-28 17:50] #120 closed

[2019-03-28 17:50] #133 closed

[2019-03-28 17:50] #150 closed

[2019-03-28 18:52] dhimmel commented on #139
Yeah. You can get to the branch from the PR page, by the link in the sentence:

Or you can click the pencil on the PR, and then click through the filepath up top to change files.

Note that as a PR reviewer, we can always provide the author with a direct link to edit the file on the right branch like:

[code]

[2019-03-28 19:49] agitter commented on #139
@slochower I submitted my `try-manubot` review so you can proceed with step 3 whenever you're ready.

[2019-03-28 19:49] slochower commented on #139
@agitter Got your PR comment, thanks! Which citation should I use?

`@url:https://greenelab.github.io/meta-review/`?

(Do we have another choice at the moment?)

[2019-03-28 19:52] agitter commented on #139
@slochower yes, let's use that one wrapped in square brackets:

`[@url:https://greenelab.github.io/meta-review/]`

[2019-03-28 21:36] #168 closed

[2019-03-28 22:04] agitter commented on #139
@slochower after you make this change and I approve, I suggest that in step 5 you do something like:

5a: Click the green check by the commit hash to show that the build passed
5b: Move your cursor to the approval message to indicate that it was re-reviewed, approved, and merged
5c: Switch to the updated rendered manuscript

[2019-03-29 01:07] slochower commented on #139
How's this look for step 3?

![Manubot 2](https://user-images.githubusercontent.com/5393995/55202339-6522b700-519d-11e9-9a02-b5a13b5ba8e0.gif)

[2019-03-29 11:22] agitter commented on #139
The step 3 video looks good to me.  Using the `patch-1` link to do the next pencil edit is a good workflow to showcase because it will teach users how to edit new files if needed.  It is slightly faster to instead do the next pencil edit from the `Files changed` tab of the pull request, but I'm happy to use this more general approach.

@slochower shall I approve and squash merge this pull request?

[2019-03-29 11:33] slochower commented on #139
Yes I think so. Will try to step 5 in a few hours.

[2019-03-29 11:51] agitter commented on #139
Okay, I merged.  If you show the new reference in the updated rendered manuscript, I recommend using the citation tooltip instead of clicking it.  In general, showing both the tooltip and reference list would be ideal, but the references look strange without a manuscript body.

[2019-03-29 15:13] #129 closed

[2019-03-29 15:13] #143 closed

[2019-03-29 15:13] #144 closed

[2019-03-29 15:16] #134 closed

[2019-03-29 15:25] dhimmel commented on #140
I remember there being a service that would post GitHub comments for a user to enable login-free anonymity. However, I don't see any mention of [this currently](https://stackoverflow.com/q/31546332). Also [not supported](https://gitlab.com/gitlab-org/gitlab-ce/issues/46071) on Gitlab.

So I guess my recommendation would be to create a one-time-use GitHub account to post your comments/review.

As f

[2019-03-29 15:53] agitter commented on #68
I consider this to be closed by #177.  Anyone can feel free to reopen if there are more changes they would like it make.

[2019-03-29 15:53] #68 closed

[2019-03-29 15:54] agitter commented on #147
This is one of the only reviewer comments that we don't have a plan to resolve.  Can we divide and conquer updates to the table, with each of us taking a competing system or two?

[2019-03-29 15:57] agitter commented on #140
To clarify, Gitmask is for contributions only, right?  Not anonymous issues or reviews?

I was thinking about whether a journal or journal editor could act as an intermediate and post comments anonymously on behalf of the reviewers.  We could propose a system, but I'm skeptical that busy editors would want to take that on.

[2019-03-29 17:33] dhimmel commented on #140
Yes

It's no harder than what editors currently do. This is in essence how journals currently anonymity peer review. Anonymity is easy when there's a trusted third party to manage it!

[2019-03-29 18:35] slochower commented on #147
Sure, you can assign one to me.

[2019-03-29 18:44] slochower commented on #139
How's this for step 5? Too clunky? I can redo.
![Manubot 5](https://user-images.githubusercontent.com/5393995/55255464-1888bb80-5231-11e9-9839-3cfcebbc834c.gif)

[2019-03-30 12:05] agitter commented on #139
I think this looks good.  @dhimmel what do you think?

Is there an easy way to add transitions with titles between the three segments?  The transitions will be very abrupt if we directly stitch these all together.

[2019-03-30 12:06] slochower commented on #139
I can try to add transition titles but won’t get a chance to look into it until early next week.

Sent from my iPhone

[2019-03-31 21:24] slochower commented on #139
@agitter, @dhimmel: thoughts? https://drive.google.com/open?id=1FbHhpoYhnkfXqeIOHQ86yyY3_9k5SFQF

[2019-04-01 15:07] agitter commented on #139
I like how it came together.  The three transition titles could each be a couple seconds longer.  I have no other major suggestions.

It feels self-explanatory to me without a voiceover or more text annotations describing the process.  However, I already know the workflow.  Should we ask a few volunteers who are unfamiliar with Manubot to give feedback?

Do we plan to host this on YouTube and link

[2019-04-01 15:28] slochower commented on #139
I can do this; I also think one has a period and the other does not.

Yes, good idea. Anyone you know? Most of my group is at the ACS meeting in Orlando right now...

Right, good question. YouTube is fine with me. I think there are also some other open source alternatives. I'm happy to put it under my name (I think I need to create an account) or we could create a Manubot account (if so, we might

[2019-04-01 15:47] agitter commented on #139
I'll ask my group to do look at it.

I'll let you and @dhimmel resolve where and how to host the video.  I'm open to anything.

[2019-04-01 17:22] dhimmel commented on #139
Currently, we have `contact@manubot.org` will forward to me, so we can use it when an email is needed.

We could post the video on YouTube or Figshare ([example](https://doi.org/10.17637/rh.5987851.v1)), which also allows embeds. Any other recommendations anyone?

Did we want to include the video in the manuscript? We could use the HTML embed code or [pandoc-videofilter](https://github.com/unmanbe

[2019-04-01 18:03] agitter commented on #139
@dhimmel I'm open to including it in the manuscript and also making it available externally.  A nice feature of Figshare is that we can version and update it.  I don't know how YouTube handles updates.

@slochower my group members think the video is good overall and had the following specific comments:
- accelerating the typing scenes would help reduce the time and keep viewer attention
- a voiceo

[2019-04-01 18:08] slochower commented on #139
Size may be an issue. I'm sure I could fiddle with compression, etc. -- but I haven't -- and it's ~70 MB. If anyone has any experience, I'm happy to incorporate suggestions with regards to compression, codec, frame rate, resolution...

I'll see if I can do that. Not sure!

I think this would necessitate working on a script. We could maybe do this today, if we can each work on a few sentences for e

[2019-04-01 18:14] agitter commented on #139
Yes, we'd need a script to prepare a 3 min voiceover.  I won't have time today, and actually my entire week is quite full.  I may need to prioritize my time on the other open issues instead of the script.  That's partly what led me to see whether we could host a preliminary version now with text captions and no voice and update it later with a voiceover.

[2019-04-01 18:21] slochower commented on #139
Updated with longer title slides and faster typing sequences: https://drive.google.com/file/d/1LiMpCdBnvtJDU89yim6DdYHgflzHsro-/view?usp=sharing (72 MB, 2:57)

I will see if I can quickly & easily create text overlays.

[2019-04-01 18:27] dhimmel commented on #139
YouTube only supports a [limited set of updates](https://support.google.com/youtube/answer/57404). Changing the audio doesn't appear to be one of them. Therefore, I'm also leaning towards Figshare to host this video.

Once hosted on Figshare, we could embed it in the manuscript using an iframe, perhaps as a supplemental  video or something. It would look something like:

@slochower or @agitter: do

[2019-04-01 22:49] slochower commented on #139
@dhimmel that looks nice!

@agitter did some more fiddling but won't have time again for a little while: https://drive.google.com/open?id=1GDUpdKQVy8D3OSdjh7W8d312qq8bveKH

[2019-04-02 19:34] dhimmel commented on #141
I plan to address this reviewer comment in #186. While working on this PR, I've come across several commentaries on markdown for scholarly writing. While I don't think we should cite all of them, I want to note them down here, in case a reader ever wants to looks back at them:

+ [Switching to Markdown for scholarly article production](https://blogs.harvard.edu/pamphlet/2014/08/29/switching-to-mar

[2019-04-03 10:48] agitter commented on #138
@vsmalladi will you still be able to attend to this?  We're overdue on resubmitting the revisions and could really use some help with them.

[2019-04-03 10:55] agitter commented on #124
@ctb thank you for all of your feedback on the Manubot manuscript and organizing it in issues.  We're getting close to resubmitting.  Is it okay with you if we acknowledge your public review (#126)?

We have also been checking the boxes above to help us track what still needs attention.  We're happy to discuss individual comments with you any time.

[2019-04-03 11:14] agitter commented on #147
I recommend that our revisions here update `Overleaf v1 + BibTeX` to `Overleaf v2 + BibTeX` because there were substantial changes.  Then we can add the following rows and update all of the columns:
- WYSIWYG: is the platform a WYSIWYG editor or does it have a native WYSIWYG mode?  We'll need to introduce this acronym in the paragraph before the table.
- Inline comments: does the platform support

[2019-04-03 11:56] agitter commented on #139
The faster pacing and captions help a lot.  Here are some fine-grained suggestions you can take or leave.  Sometime soon we should accept this as a great v1 and move on.
- 0:22 Now that the video is sped up, I think you could skip the cut here and show the entire message being typed
- 0:29 Maybe add an extra second or two to dwell on this titlecard?  `suggestions are requested` sounds better to me

[2019-04-03 13:41] vsmalladi commented on #138
@agitter Carved out time today to work on this. Will have some updates by this afternoon.

[2019-04-03 14:12] slochower commented on #139
Tried to incorporate your suggestions @agitter, but may have made minor regression in other areas (still getting the hang of this). I've uploaded to Figshare: https://doi.org/10.6084/m9.figshare.7946192.v1. I think should be okay for version 1. I'm happy to revisit in the future.

[2019-04-03 14:15] vincerubinetti opened #187 "Update to latest version of front-end from manubot/rootstock"
At some point before final review or publishing, the manuscript should be updated to the latest front-end from `manubot/rootstock`.

Not too much has changed between the current `meta-review` version and the `rootstock` version, but there are some slight improvements.

[2019-04-03 14:17] agitter commented on #187
Good suggestion.  It looks like there aren't any incoming pull requests in rootstock so we could do this any time.

[2019-04-03 14:21] ctb commented on #124
happy to be acknowledged!

[2019-04-03 20:10] agitter commented on #139
Thanks all of your work on this video.  It's an excellent quick intro to some of Manubot's best features.

[2019-04-03 20:50] slochower commented on #139
Great :) Feel free to close this issue once we mentioned it in the response to reviewers.

[2019-04-03 20:52] slochower commented on #147
~@agitter How do you want to handle the PR with regards to updating the Table. Should I create my own PR to update the Authorea + BibTeX row?~

Sorry, totally missed your comment:

I'll update this comment with results for Authorea.

------------

- WYSIWYG: Yes (Reasoning: Authorea renders LaTeX quickly & inline, and also supports a lot of text formatting options, e.g., bold shows up **bold**.)
-

[2019-04-03 20:57] dhimmel commented on #139
Interesting that the raw video on Figshare is 1920 × 1080 pixels, but the version it plays online is lower resolution.

[2019-04-03 21:03] slochower commented on #139
Didn't notice that myself. I did export at 1920 x 1080, because I thought that was high enough resolution without being too high. I can re-export at a lower resolution if the inline player shows it differently.

[2019-04-03 21:59] agitter commented on #147
Thanks @slochower.  I just created WIP #188 to start collecting these feature summaries.

Regarding Authorea:
- WYSIWYG: Are those text formatting options (e.g. **bold text**) still controlled with LaTeX commands?  I'm interested in contrasting it with Overleaf v2, which has a Rich Text mode that adds formatting without requiring the user to know the LaTex commands (screenshot below).  We could al

[2019-04-03 22:04] slochower commented on #147
In "Scholarly Article Template", no I don't think so (it behaves just like a rich text editor where you can't see what happens under the hood, but the words just become bold). In "Scientific Paper", yes, you can see that the bolding action inserts `\textbf{}` surrounding the highlighted text. Scholarly Article Template behaves like Overleaf's Rich Text mode but, as far as I know, it's _not_ based

[2019-04-04 02:44] agitter commented on #147
I agree with that policy.  Many of these are in a gray area, and we can err on the side of being generous.

I'll use `Rich text available` as the initial entry for Authorea and Overleaf in the WYSIWYG row.

[2019-04-04 03:04] agitter commented on #147
I'll finish the remaining platforms.  These new features are not that hard to update.  #188 will need a careful review when it's ready.

[2019-04-04 03:21] agitter commented on #151
We're getting very close now.  We have pull requests open for most of the remaining issues, and the others are small in scope.  I may try to finish the edits in the next couple days so that we can do a final review and resubmit April 7 or 8.

If anyone wants more time to review the new version, please let me know.

[2019-04-04 11:04] agitter commented on #151
The journal emailed me again asking whether or not we plan to resubmit.  I'll tell them that we do plan to resubmit and it will be next week.  I'm targeting very early next week.

[2019-04-04 14:32] dhimmel commented on #181
@vincerubinetti given our resubmission timeline, if you'd like this figure to be in the manuscript, we'd probably need it by Friday.

[2019-04-04 20:42] dhimmel commented on #130
After https://github.com/greenelab/meta-review/pull/186, I can reassess this.

[2019-04-04 20:46] dhimmel commented on #76
I plan to close this with https://github.com/greenelab/meta-review/pull/186, which mentions the `pandoc-xnos` filters. While it's great to give credit to software, I'm not sure there is a more elegant way to actually reference versioned dependencies than our conda `environment.yml`. I think the manuscript now mentions most important dependencies by name.

[2019-04-04 21:21] agitter commented on #76
I agree that is sufficient.  My original intent of the issue was also to make sure that we cite manuscripts when they exist, which I believe we have covered.

[2019-04-05 14:58] #147 closed

[2019-04-05 15:26] #76 closed

[2019-04-05 15:26] #104 closed

[2019-04-05 15:26] #128 closed

[2019-04-05 15:26] #141 closed

[2019-04-05 15:26] #155 closed

[2019-04-05 15:26] #174 closed

[2019-04-05 15:28] dhimmel commented on #139
I'll open a PR to add the video to the manuscript.

[2019-04-05 17:01] #187 closed

[2019-04-05 20:53] dhimmel commented on #114
@agitter I forgot to update response-to-reviewers. Can you take a look at https://github.com/dhimmel/meta-review/commit/7e489f99e7a2e1ad76886bab78f3b4c2f672a80f?

[2019-04-06 00:43] #114 closed

[2019-04-06 00:47] dhimmel commented on #124
Looks like we have made revisions to address each of the issues [above](https://github.com/greenelab/meta-review/issues/124#issue-406908296).

We can leave this open for @ctb to close if he agrees we've addressed the issues?

[2019-04-06 04:21] vsmalladi commented on #138
@agitter I have confirmed that i can make a private repo and have travis build the necessary pages.

To disable to webpage you will have to change the branch or directory it is expecting. Another option is to remove that section of the push from the build.sh.

Working on the private gitlab next.

[2019-04-06 11:07] agitter commented on #138
What about disabling GitHub Pages by setting setting the source to None in the settings as @dhimmel suggested?  Does that work?

![image](https://user-images.githubusercontent.com/3532898/55668573-80db2c80-5831-11e9-8af3-70265fe6c088.png)

We're out of time now for the revisions.  We may want a quick pull request to discuss the private GitHub option.

[2019-04-06 12:27] vsmalladi commented on #138
You can disable github pages, by switching to use master branch. The None option is greyed out, due to legacy behavior of automatically triggering a build with gh-pages: https://github.community/t5/GitHub-Pages/Why-can-t-I-disable-Github-Pages/td-p/655.

Thus once you fork the repository and it has gh-pages this option will be greyed out. The other option is to rename gh-pages to a different branc

[2019-04-06 12:41] dhimmel commented on #138
IMO this is a GitHub bug. There's no reason why actively disabling GitHub pages should be incompatible with any legacy behavior. But this is besides the point.

Are you sure it will not provide access to the files in your `master` branch. Can you provide the GitHub pages URL of the private repo so we can test?

[2019-04-06 12:48] agitter commented on #130
@dhimmel I can probably add this later today if you don't get to it.  I'm imagining a short 3-4 sentence paragraph overviewing the big pictures idea of what Manubot is all about and its major benefits.

[2019-04-06 12:54] agitter commented on #127
@dhimmel @slochower @vsmalladi @vincerubinetti @dongbohu @cgreene we now have incoming pull requests to close the last remaining reviewer issues.  I'd like us to please discuss and finalize the author order for our revised submission, which I plan to complete in the next day or two.

Because the manuscript is primarily about Manubot, I propose we use the convention that our contributions for autho

[2019-04-06 13:10] slochower commented on #127
I think you did a fair job summarizing. I’m happy with whatever order prevails; glad to be part of this team.

[2019-04-06 13:32] vsmalladi commented on #138
This is the URL that we made using a test: https://vsmalladi.github.io/private-try-manubot/

[2019-04-06 13:35] vsmalladi commented on #138
@dhimmel @agitter Add you as collaboraters on this private repo. You can see that the page displayed is based on an older commit, for testing. The latest gh-pages has a new sentence for paragraph.

[2019-04-06 13:40] vsmalladi commented on #127
I am good with what ever order.

[2019-04-06 13:55] dongbohu commented on #127
Whatever order is good for me. Thanks.

Dongbo

[2019-04-06 19:01] agitter commented on #138
What are the GitHub Pages settings for this repository?  Is it still set to `gh-pages`?  The simplest instructions would be if we can tell a user how to modify their settings to make the manuscript private instead of having them modify the build or deploy scripts.

[2019-04-06 19:08] vsmalladi commented on #138
The settings are for pages to be built from master and then it fails and just renders the old gh-pages. No deploy settings we’re changed

[2019-04-06 19:39] agitter commented on #138
Thanks for explaining.  Is there a way to have it not render any GitHub Pages?  Or once the gh-pages exists, is it impossible to go back?

I suspect that users may not be comfortable having their private manuscript exposed in any form, even if it is only the original Rootstock text that is viewable.  Even the repository name and URL could be sensitive in extreme cases.

[2019-04-06 20:08] vsmalladi commented on #138
Once the gh-pages exists its impossible to remove it.

However, when making a private repository you can't just fork the repo. You will have to actually clone locally and push the branches you want. I believe at this time we can change gh-pages to some other name and update the build, thereby keeping the push the branch and history, but not build the pages. Then when they want to make it public th

[2019-04-06 20:18] dhimmel commented on #130
Okay I will not be able to do until tomorrow earliest. So feel free to take the lead if you have the time

[2019-04-06 20:33] agitter commented on #130
I had time today.  See my first attempt in #194.

[2019-04-07 10:59] agitter commented on #138
I see.  I'll update #192 once we decide how to proceed.  The takeaway is that this is possible but requires more customization.

We could add a section to the [Rootstock setup](https://github.com/manubot/rootstock/blob/master/SETUP.md) describing this process for manuscripts that initially start as private repositories.  They would need custom steps for the initialization and for later converting

[2019-04-07 12:44] vsmalladi commented on #138
I think so. I can make the issue. I am also working out the private gitlab server.

[2019-04-08 11:31] agitter opened #195 "Authorea corrections to writing platform table"
Alberto from Authorea reviewed our collaborative writing platform table, and we have some corrections to make.  The comments are Hypothesis annotations on this version of the manuscript: https://greenelab.github.io/meta-review/v/dd0882978b274734f4e2197f096678f644cceaca/#tbl:platforms

We can discuss any of these where we need clarification.  We should also review other parts of the text that are r

[2019-04-08 15:07] dhimmel commented on #138
The `github/pages` build on the master branch failed with message:

What about making branch with nothing, e.g. named `gh-pages-blank`, and then setting that as the gh-pages branch to deploy. You could use code like:

[code]

If that fails the `github/pages` deployment, you could add whatever you need to satisfy it. This would give the authors the ability to switch between branches to enable/disab

[2019-04-08 15:14] slochower commented on #195
We have "Character-level provenance for text" marked at "No" (with brief explanation). Authorea commented and said:

While I have no reason absolutely no reason to cast doubt on this, if I log in to my dummy Authorea manuscript that I used to explore the features last week, and click on the "Version History" tool, I can see a handful of timestamped edits. Moving between the edits sometimes shows m

[2019-04-08 15:21] slochower commented on #195
On WYSIWYG: it seems more like Rich Text than true "what you see is what you get" to me, because if you compare the "editing mode" (my term) in the screenshot above and then export a manuscript, the manuscript subjectively *looks* different. True WYSIWYG, in my opinion, should also accurately reflect margins and line breaks, text justification, etc.

[Scientific Paper.pdf](https://github.com/green

[2019-04-08 15:28] vsmalladi commented on #138
I can give that a try.

[2019-04-08 15:42] dhimmel commented on #195
@slochower did you set up Authorea's GitHub integration? I'd like to see the git repository to learn more about what exactly the commit history contains?

[2019-04-08 15:46] dhimmel commented on #195
I'm copying all of Alberto's comments below for reference

### Character-level provenance for text

Yes. There is character-level provenance as every edit is logged in the Git repository behind each article at every save event (every second).

### Citation by identifier

Yes, we support citation by DOI and URL and search via Crossref, Pubmed and Datacite

### Document format

Nope, HTML. LaTeX is

[2019-04-08 15:47] vincerubinetti commented on #127
Doesn't matter to me. Dealer's choice.

[2019-04-08 15:56] dhimmel commented on #195
I think we may be getting mixed up based on which format the article is viewed as. @apepe indicates the main output format is HTML, which I believe you can create for your manuscript under the "share" button. I don't see a way to download the rendered HTML, but you can use the Authorea hosted HTML. It seems that the HTML output may actually be WYSIWIG to the online GUI editor?

The PDF output is n

[2019-04-08 15:57] agitter commented on #195
I also [asked](https://twitter.com/anthonygitter/status/1115217922513887234) a follow up question:

This is a problem on Overleaf as far as I can tell.

[2019-04-08 16:03] slochower commented on #195
I did click "Setup GitHub integration automatically" but I'm not sure what it did! I authorized Authorea for my GitHub account, but it didn't ask me to create a new repository or anything. I didn't have time to further play around with this. I assume if you go through the manual setup process you have more options (I can see that it asks for repository name and branch). So this part is pretty opaq

[2019-04-08 16:11] dhimmel commented on #195
@slochower can you add me as a collaborator on the Authorea manuscript via the share button? I would like to make some changes via the web UI and see how they translate into git commits.

[2019-04-08 16:12] slochower commented on #195
@dhimmel done via gmail.

[2019-04-08 16:23] dhimmel commented on #195
Okay I made some edits and I do see very granular commits (like on an every second basis). See https://github.com/slochower/Scientific-Paper/commit/01f3e4ba43ef8d4e1750a4ace31488b26a098e0a. Authorea does set the commit author properly. I would say the big difference with Manubot is that the usefulness of commits is diminished when the commits when they are not intentional sets of changes but inste

[2019-04-08 16:32] slochower commented on #195
Agree. And also not knowing that the file `pfp675ptdg.md` corresponds to your `#Markdown section`, especially without a meaningful commit message.

[2019-04-08 16:44] dhimmel commented on #195
Yeah. I think you could rename sections and edit [`layout.md`](https://raw.githubusercontent.com/slochower/Scientific-Paper/master/layout.md) to get a more human readable section nomenclature. But I agree that in general, directly editing the git source to update an Authorea manuscript would be difficult. Also what happens if you mess up the syntax, can you see build error messages somewhere?

[2019-04-08 16:47] slochower commented on #195
Right. I'm not sure if Authorea has the ability to pull from GitHub and/or deal with merge conflicts.

[2019-04-08 16:49] slochower commented on #195
From: https://support.authorea.com/en-us/article/syncing-articles-to-github-zubain/

[2019-04-08 17:03] apepe commented on #195
Hey friends, sounds like you figured out the answers to all the questions you had :) To sum up: every article is a Git repo. Main article format is html. `layout.md` lists what files in the repo are rendered in the document view. It can contain file formats such as latex, md, html, js, figures, tables, jupyter notebooks. Every save event (which happens every second) creates a Git commit so this is

[2019-04-09 02:58] #139 closed

[2019-04-09 03:14] agitter commented on #187
We can update once more before resubmitting to pull the latest rootstock changes.

[2019-04-09 03:26] #140 closed

[2019-04-09 11:41] dhimmel opened #198 "Track changes from initial to revised journal submission"
I am guessing we'll need a tracked changes document.

I'd like to give this a try, since it's something we've been trying to improve in https://github.com/manubot/rootstock/issues/54.

[2019-04-09 11:50] agitter commented on #198
Thanks, that would be great.  You're correct that we will need to submit a document with changes tracked.

[2019-04-09 13:26] dhimmel commented on #181
Looks like this is not going to make it into the manuscript due to the deadline. Hence, I'll close it. But if the issue is relevant elsewhere (like for the eventual manubot.org landing page), we can reopen / transfer this issue.

[2019-04-09 15:41] #138 closed

[2019-04-09 17:55] #195 closed

[2019-04-09 20:41] #126 closed

[2019-04-09 20:55] dhimmel commented on #198
# Generating a DOCX for v2.0 release

In case we can't get pandiff to work fully in #200, here's a DOCX for our previous submission. We can use it to "compare changes" in libreoffice or ms word.

[code]

Produced [`output/manuscript.docx`](https://github.com/greenelab/meta-review/files/3060946/manuscript.docx). Note I didn't use exactly the same environment as Travis would have run, but content-wi

[2019-04-09 20:58] slochower commented on #198
Ack. Why does the v2.0 release have "Overleaf v1" in the table header?

Edit: something wrong with the merge of #188 or a subsequent merge.

[2019-04-09 21:02] slochower commented on #198
Quite a few bugs with figures when viewing with LibreOffice. For example, the text on Figure 2 is missing. I don't think this should be a showstopper for us, but DOCX export and/or rendering has a ways to go.

![image](https://user-images.githubusercontent.com/5393995/55835095-27445d80-5ad0-11e9-822e-ba65ebeca517.png)

[2019-04-09 21:04] agitter commented on #198
I noticed that when we resubmitted deep review as well.   The pandoc DOCX was not as good as copying the HTML into Word.

[2019-04-09 21:04] dhimmel commented on #198
The [v2 release](https://github.com/greenelab/meta-review/releases/tag/v2.0) is based on https://github.com/greenelab/meta-review/commit/12fd1685f01d992e37f997a1daf6b523e1dc152a from Oct 23, 2018. It corresponds to our initial submission to PLOS Comp Bio I believe. Our revised submission will be v3.0 I'm guessing.

Yes, probably since it struggles embedding / converting SVGs. I am guessing we will

[2019-04-09 21:05] slochower commented on #198
Whoops, my mistake.

Right, in the future, DOCX build could also do a SVG/PDF to PNG step.

[2019-04-10 02:45] agitter opened #202 "Figure 2 cut off in PDF"
The right side of Figure 2, the deep review contributions plot, is truncated in the current PDF.

@vincerubinetti @dhimmel any ideas as to what could be causing this?

[2019-04-10 02:49] agitter commented on #198
I was curious how well comparing the PDFs outputs directly would work.  Adobe Acrobat Pro reported the documents were too complex.  However, Draftable did a fairly good job: https://draftable.com/compare/ULkhUzDXzEml

The figure changes were missed and there are some formatting changes that are needlessly annotated, but the references and text are handled well.

[2019-04-10 12:01] dhimmel commented on #202
Ah yes [see here](https://greenelab.github.io/meta-review/v/5b23bdb102a938026b6ed25181bc5ac73e5f21e9/manuscript.pdf#page=8):

[2019-04-10 14:03] vincerubinetti commented on #202
@agitter Does it happen when you print the html version in Chrome (`ctrl+p` and look at the print preview)? For me, in the [latest deployed version of the manuscript](https://greenelab.github.io/meta-review), doing a print preview looks fine, which suggests that it's WeasyPrint's fault.

Also, can you try removing the `.white` background class from the image and see if the problem still occurs?

I

[2019-04-10 14:14] vincerubinetti opened #204 "Change video div to p"
__*problem*__

![image](https://user-images.githubusercontent.com/8326331/55885863-b0af6a80-5b78-11e9-9e21-5a85210f03af.png)

@dhimmel  Notice the lack of margin between *Acknowledgements* and the video caption.

__*reason*__

This is because for print mode, I have to set the top margins of those `<h2>`'s to 0 so when they're the first thing on the page, they're flush with the top of the page. Thi

[2019-04-10 14:43] dhimmel commented on #202
@vincerubinetti and I looked into this locally and we see that the clipping occurs in WeasyPrint, with or without specifying `.white`. WeasyPrint also appears to have an issue when we don't specify `width="100%"` making the figure minuscule in the PDF.

It's possible that WeasyPrint has fixed some of these issues but I think we're pinned to an old version due to a conda dependency trap.

We've bee

[2019-04-10 17:01] #204 closed

[2019-04-10 17:07] #202 closed

[2019-04-10 17:32] dhimmel commented on #198
Draftable does work surprisingly well. I do think the split diff makes it a bit challenging to fully reason what the change is compared to a unified diff:

[2019-04-10 17:44] dhimmel opened #207 "Update figshare screen recording metadata"
@slochower created a screen recording to address https://github.com/greenelab/meta-review/issues/139, which we added to the manuscript in https://github.com/greenelab/meta-review/pull/191. Version 1 is at https://doi.org/10.6084/m9.figshare.7946192.v1

I'd like to do the following:

+ @slochower move current deposit to the [Manubot Figshare Project](https://figshare.com/account/home#/projects/6228

[2019-04-10 17:46] slochower commented on #207
Yes, smart.

I got the notification and already moved it to the Manubot project before I saw this. However, now it is marked private. I'm not sure if this is a project-level setting or not.

Okay...

Sounds good.

[2019-04-10 17:59] dhimmel commented on #207
Made project public at https://figshare.com/projects/Manubot/62288

[2019-04-10 20:36] dhimmel commented on #207
@slochower I don't see a way to edit https://figshare.com/account/projects/62288/articles/7946192.

Perhaps you need to add me as an author? Sometimes the figshare interface leaves a bit to be desired!

[2019-04-10 20:40] agitter opened #209 "Figure formats for resubmission"
I reviewed the resubmission instructions, which include

[2019-04-10 20:43] agitter commented on #198
I also doubt that the Draftable link is persistent, so it does not seem like a good option for sharing the tracked changes with reviewers.

[2019-04-10 20:45] agitter commented on #207
The journal resubmission instructions include

I was not planning to upload this video because it is already available on figshare.  Is that our intention, or should I also upload it as a video?  The journal might make a second copy on figshare in that case.

[2019-04-10 20:46] dhimmel commented on #209
Okay we should make a directory in the repo like `plos-comp-bio`, where we can upload files like `plos-comp-bio/figures/figure-1.tiff`. I can open a PR to do this.

[2019-04-10 20:49] agitter commented on #209
We also have multiple copies of these figures in different formats in `content/images` already.  That would be another option.

[2019-04-10 20:53] dhimmel commented on #207
One benefit of including it is that it could show up in the Figshare element at the bottom of the page ([example](https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004259)):

Ideally, PLOS could include a figshare item in the "Supporting Information" section without having to re-upload it. Not sure if this is possible.

The ideal situation:

1. video playable from journal HTM

[2019-04-10 20:57] dhimmel commented on #209
Yes but these get copied to the `webpage` branch so I'm a bit worried about bloat. I'm guessing we'll also want to track other files like submitted documents / diffs / etcetera, so a separate folder may make sense.

[2019-04-10 21:00] agitter commented on #209
Got it 👍

[2019-04-10 21:06] slochower commented on #207
Hmm... looking...
Just checking, you don't see anything here?
![image](https://user-images.githubusercontent.com/5393995/55913500-a0f44e00-5b99-11e9-91bc-d748981654f8.png)

I added you as an author, but I think that's only for the metadata. Still, check again to see if you have any additional options.

[2019-04-10 21:26] dhimmel commented on #207
I still don't see how to edit, so I created a [ticket](https://support.figshare.com/support/tickets/96301) (ticket link will only work for me):

[2019-04-10 21:55] agitter commented on #207
I found an example manuscript with supporting videos: https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006068#sec013

They do play in the figshare widget.  I expect that we would have to re-upload the video to get that, which is acceptable.

However, their [instructions](https://journals.plos.org/ploscompbiol/s/supporting-information#loc-multimedia-files) request videos of a

[2019-04-10 22:13] slochower commented on #207
I can perhaps fiddle with the export resolution until it is that small, but my fear (without actually checking) is that bumping the resolution that far down will make the webpage text in the video unreadable. At which point, it may be better to make a new version.

[2019-04-11 02:35] agitter commented on #207
Let's keep the current resolution for the resubmission.  I agree that we need reasonable resolution to keep the text readable, and I'll explain that if they push back.

[2019-04-11 02:40] agitter commented on #127
Thank you everyone for being so flexible regarding the ordering.  I talked to @dhimmel to better understand the extent of the development efforts that were needed for the front end improvements and translation server.  Based on that, I propose:

@dhimmel @vincerubinetti @slochower @dongbohu @vsmalladi @cgreene @agitter

I'll make a pull request to update the authors.  In addition, @dhimmel and I w

[2019-04-11 11:15] #127 closed

[2019-04-11 12:35] dhimmel commented on #207
Radu Gheorghiu, an Integrations Engineer at Figshare, responded to my help ticket and wrote:

I didn't realize there was no way for multiple figshare accounts to edit the same item. Too bad. Therefore, I can just leave what updates I think we should make in a comment here that @slochower can apply to the record. Feel free @slochower to remove me as an author, since that didn't accomplish what we w

[2019-04-11 18:45] dhimmel commented on #207
@slochower how about the following? Feel free to change a bit. Also you should be able to show us unpublished version by link before finalizing.

Title: "How to edit a manuscript on GitHub with Manubot"

Description:

***
The screen recording shows how to edit a manuscript via GitHub using Manubot. Manubot is the the manuscript bot for automated scholarly publishing. It is an open source software

[2019-04-11 19:01] slochower commented on #207
- ✓ Updated Title
- ✓ Updated Description

Note: The link  https://doi.org/10.6084/m9.figshare.7946192 goes to the original movie, before I moved it to the Manubot project. However, if I go to "Cite" on the Manubot project version, it gives me the _same_ DOI. I clearly am having difficulty with the FigShare UI. Is this because the version in the Manubot project is still marked private?

![image](h

[2019-04-11 19:11] dhimmel commented on #207
The DOI link will direct to the latest published version. The private
version is not published yet.

Regarding rename, you must delete file and upload with changed name.

On Thu, Apr 11, 2019, 3:01 PM David Slochower <notifications@github.com>
wrote:

[2019-04-11 19:13] slochower commented on #207
Won't either of these things (re-publishing or re-uploading) give a new DOI? Just making sure we propagate the changes...

[2019-04-11 19:32] dhimmel commented on #207
Re-uploading in the same item should not automatically publish. Isn't there
a publish button? I believe the publish button should create a v2 rather
than a new record

On Thu, Apr 11, 2019, 3:13 PM David Slochower <notifications@github.com>
wrote:

[2019-04-11 19:45] slochower commented on #207
I think the private version should now have the files correctly named.

[2019-04-11 20:35] dhimmel commented on #207
Okay the private version now looks good to me. One small change: can you reorder the files to make the video come first? This will make it possible to directly watch the video from the landing page. I think the upload page supports drag and drop reordering. No worries if this doesn't seem possible. @slochower proceed with v2 publication.

[2019-04-11 20:56] slochower commented on #207
Should be good.

[2019-04-11 20:56] slochower commented on #207
But I think maybe you have to make it public.

[2019-04-11 21:00] dhimmel commented on #207
Great published at https://doi.org/10.6084/m9.figshare.7946192.v2

I don't think so, but let me know if otherwise.

[2019-04-11 21:02] slochower commented on #207
Well, I see it is public now, but even after I clicked Publish, it still said Private, and I couldn't find any way to change that. Could be ineptitude on my part. Anyhow, nice work.

[2019-04-11 21:09] slochower commented on #207
See #213 to remove the DOI to version 1. The unversioned DOI should point to the latest version, which is probably what we want.

[2019-04-12 02:43] #209 closed

[2019-04-12 16:45] agitter opened #215 "Competing interests"
The journal requests a competing interests statement.  No one has raised competing interests yet, but can you please give a thumbs up here to confirm you do not have any?  In that case I'll enter:

@dhimmel @vincerubinetti @slochower @dongbohu @vsmalladi @cgreene

[2019-04-12 16:49] dhimmel commented on #215
For more info on what competing interests are see [this page](http://web.archive.org/web/20190412164758/https://journals.plos.org/ploscompbiol/s/competing-interests).

[2019-04-12 17:57] #207 closed

[2019-04-12 20:09] agitter opened #217 "Contributor roles"
For the resubmission, we need to map authors to contributor roles:

Conceptualization
Data curation
Formal analysis
Funding acquisition
Investigation
Methodology
Project administration
Resources
Software
Supervision
Validation
Visualization
Writing – original draft
Writing – review & editing

[2019-04-12 20:18] dhimmel commented on #217
Defined at https://journals.plos.org/ploscompbiol/s/authorship:

| Contributor Role | Role Definition |
|--------------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Conceptualization | Ideas; formulation or ev

[2019-04-12 20:27] dhimmel commented on #217
The comment on contributions at https://github.com/greenelab/meta-review/issues/127#issuecomment-480501901 may be helpful

[2019-04-12 20:28] cgreene commented on #217
I imagine I am:
* Conceptualization
* Funding Acquisition
* Writing -- Original Draft Preparation

[2019-04-12 21:18] #217 closed

[2019-04-12 21:26] #198 closed

[2019-04-12 22:00] agitter commented on #124
Closing this as part of the `v3.0` submission.  We could reopen or make new issues for additional discussion.

[2019-04-12 22:00] #124 closed

[2019-04-12 22:02] agitter commented on #151
🎉 The resubmission is in! 🎉

I'm leaving this open as a reminder that we need to update the `binder` tag and create the `v3.0` tag and release.

[2019-04-12 22:06] slochower commented on #151
Thank you & everyone else for the hard work!

[2019-04-13 11:33] agitter commented on #151
I updated the tags and am closing this issue.  The `binder` tag was originally 313023e4a6b713557163137b25cccb4f530ad919 and is now 4ef4d9fe9f85e90a232018b5aa111903449fd231.  That is the same commit as the [`v3.0` release](https://github.com/greenelab/meta-review/releases/tag/v3.0).

@dhimmel you can update the release notes if you'd like.  One consideration is whether we want to explain in the rel

[2019-04-13 11:33] #151 closed

[2019-04-15 21:20] agitter opened #219 "Manuscript updates required for resubmission"
The PLOS editorial team sent the following:

We can write the summary and add it after the abstract.  Our abstract already describes what Manubot does.  Maybe the summary should focus more on the challenges of collaborative writing and significance of Manubot?

I can easily update the funding information in the submission system.  What do we want to do with the funding statement in the manuscript?

[2019-04-15 21:26] dhimmel commented on #219
Regarding the current [funding section](https://greenelab.github.io/meta-review/v/4ef4d9fe9f85e90a232018b5aa111903449fd231/#funding), let's add the editors suggested sentence and then comment out the entire section. This way we track the funding statement source and can re-enable at some future point if we would like to.

I can make a draft.

[2019-04-16 13:30] dhimmel commented on #219
From their [submission guidelines](https://journals.plos.org/ploscompbiol/s/submission-guidelines#loc-author-summary)

[2019-04-17 11:34] agitter commented on #219
I heard back from the editorial staff regarding the figshare video DOI:

We could still keep the citation to the figshare version to maintain that link in case we ever want to update on figshare.

[2019-04-17 21:15] #219 closed

[2019-04-18 03:13] agitter commented on #219
I resubmitted and released version 3.1 with these changes.

[2019-04-28 10:54] agitter commented on #219
Update from the journal.

[2019-05-16 20:22] agitter opened #222 "knitcitations"
https://github.com/cboettig/knitcitations enables cite by DOI or URL for Rmarkdown.  We should find a place to mention it as related existing work.

[2019-05-24 14:57] agitter opened #224 "Publish peer review history"
@dhimmel pointed out that PLOS journals created an option to [publish peer reviews](https://blogs.plos.org/plos/2019/05/plos-journals-now-open-for-published-peer-review/) alongside a manuscript.  It officially starts for manuscripts submitted after May 22, but I will inquire whether we can have our peer review history published.  It is already fully public.

[2019-05-24 15:02] dhimmel commented on #224
In the meantime, if any readers are interested in the peer reviews and our responses, see [`response-to-reviewers.md`](https://github.com/greenelab/meta-review/blob/master/content/response-to-reviewers.md).

The reviewers reviewed the [revised manuscript](https://github.com/greenelab/meta-review/releases/tag/v3.1) and submitted these comments:

We received these reviews today with the note:

[2019-05-24 18:43] dhimmel commented on #222
Ah yes, I used `knitcitations` back in the day when I was more of an R user, see https://github.com/cboettig/knitcitations/issues/73. It is one of the early cite-by-identifier implementations I used. Another was the [Thinklab platform](https://think-lab.github.io), which is now shut-down.

[2019-05-24 21:22] #222 closed

[2019-05-31 20:16] agitter opened #226 "PLOS formatting requests"
The PLOS Computational Biology team emailed the following message about formatting.  The attachment below contains the specific requests.  I'll create individual issues for each request and use this as the meta issue, as during revision.
- [x] Metadata verification #229
- [x] Provide a .doc or .docx version of your manuscript file.
- [x] Numeric affiliations #230
- [x] Author summary paragraphs #2

[2019-05-31 20:39] agitter commented on #215
@dongbohu can you please give final confirmation that you have no competing interests for the Manubot paper?  Competing interest are defined above.

[2019-05-31 20:42] agitter opened #229 "Metadata verification"
I'm lumping all of the metadata verification requests together.  We can split these if necessary:
- [x] Author contributions
- [x] Early version
- [x] Financial disclosure
- [x] Competing interests #215
- [ ] Data availability
- [x] Corresponding authors
- [ ] Authorship and affiliation
- [x] Protocols
- [x] Title and short title

o	Conceptualization: D.S. Himmelstein, V. Rubinetti, D.R. Slochower

[2019-05-31 20:46] agitter opened #230 "Numeric affiliations"
We had to do this for deep review.  Manubot creates `author.affiliation_numbers` so do we only need to update the front matter?

[2019-05-31 20:46] agitter opened #231 "Author summary paragraphs"

[2019-05-31 20:48] agitter opened #232 "Remove figures from text"
Do we want to do this manually in the .docx file we submit?

[2019-05-31 20:51] agitter opened #233 "Reference format"
See https://editor.citationstyles.org/styleInfo/?styleId=http%3A%2F%2Fwww.zotero.org%2Fstyles%2Fplos-computational-biology

[2019-05-31 20:53] dhimmel commented on #226
I've converted the DOCX to markdown pasted below, courtesy of:

[code]

<details>
<summary>Expand to see DOCX contents</summary>

# For: "Open collaborative writing with Manubot"

# METADATA CHECK

Please confirm that the following information is correct and contact us if any changes are necessary. This information will be indexed in PubMed and published by *PLOS Computational Biology* as you have

[2019-05-31 20:54] dhimmel commented on #233
See https://github.com/greenelab/meta-review/pull/228

[2019-05-31 20:55] agitter opened #234 "Figure formatting"
Figure 1 was converted and needs to be reviewed.  Figure 2 is okay.  Figure 3 needs to be resized, and they have concerns about the resolution.  See https://github.com/greenelab/meta-review/issues/226#issuecomment-497856572

[2019-05-31 20:56] agitter commented on #226
Thanks for converting @dhimmel.  I'll stop copying from the detailed instructions in the individual issues now that we have everything here.

[2019-05-31 21:00] agitter opened #235 "Striking image"
Do we want to to prepare an image for the journal website?  We may want one for manubot.org anyway.  I'm okay skipping this if none of us have time to work on a figure in the short term.

[2019-05-31 21:09] dhimmel commented on #226
I'm thinking about which issues potentially affect the manuscript on GitHub and which issues can be handled without any changes to this repo. Here are the issues that I think it may make sense to modify the git repository while addressing them:

- [ ] https://github.com/greenelab/meta-review/issues/231
- [ ] https://github.com/greenelab/meta-review/issues/230
- [ ] https://github.com/greenelab/met

[2019-05-31 21:14] dhimmel commented on #235
From https://github.com/greenelab/meta-review/issues/226#issuecomment-497856572:

It could include the Manubot logo. Possibly it could be one of the images that we're planning to create for the [manubot homepage](https://github.com/manubot/manubot.org). CC @vincerubinetti.

I think we might as well submit something, but not go too much out of our way... so something we've already created or will e

[2019-05-31 21:37] agitter commented on #226
For the last submission, I only uploaded the manuscript and diff as PDFs.  Because PLOS doesn't have a DOCX of our manuscript, I expect we could safely export another DOCX and create a diff later.  They'll use the new DOCX as the master version of our manuscript.

Could we make any final commits that we want to keep in the HTML version, bundle those with the [post-submission commits](https://githu

[2019-06-01 00:53] dongbohu commented on #215
Done (sorry I was out of town today).

[2019-06-01 02:47] #215 closed

[2019-06-01 12:14] dhimmel commented on #234
@agitter what changes were made to Figure 1 as per:

[2019-06-01 12:34] agitter commented on #234
Here are all the files attached to the submission currently
![image](https://user-images.githubusercontent.com/3532898/58748460-ecf79c80-843e-11e9-8f9f-c98a6cc03b99.png)

Here is the `Final Figure File` they created for `Fig 1`.  It's a zipped `.eps` because GitHub won't take `.eps` in attach file uploader:
[Fig1.zip](https://github.com/greenelab/meta-review/files/3243753/Fig1.zip)

Do you see any

[2019-06-01 17:56] slochower commented on #226
Please feel free to tag me in the relevant sub-issues.

[2019-06-01 23:40] vsmalladi commented on #226
Let me know how I can help.

[2019-06-03 14:22] dhimmel commented on #232
Yes. Because we need to keep the captions right?

[2019-06-03 18:56] agitter commented on #229
@slochower and @vsmalladi can you please help double check and proofread the metadata here?  I'll also look it over before we close the issue.

[2019-06-03 19:49] dhimmel commented on #226
I think we can make changes that are just-for-submission and general changes, as long as they aren't intermixed in the same pull requests. Then we'll tag the version we use to derive the resubmission DOCX. Then if we want to undo some of the just-for-submission changes, we can do a `git revert` and look through the commit history.

[2019-06-03 21:21] agitter commented on #226
@dhimmel that sounds good to me.  You can go ahead and merge the other PRs I approved.

[2019-06-03 22:27] #231 closed

[2019-06-03 22:29] #230 closed

[2019-06-04 00:07] slochower commented on #229
The metadata looks good. We could consider updating the Software Heritage links. I can't quite tell whether that SH link goes to a specific commit or whether it is just showing me the latest commit that is archived. I can look into this.

[2019-06-04 00:23] dhimmel commented on #229
Ah yes, I should check if they've been updated. The SH link does go to a specific commit.

[2019-06-04 12:46] vsmalladi commented on #229
The metadata looks good.

[2019-06-05 17:59] agitter commented on #234
@vincerubinetti do you have thoughts about what to do for Figure 3?  The key parts of the journal's comments are:

In Photoshop: Image→Image Size. Make sure the Resample Image checkbox is NOT checked. If the Width is over 19.05cm, type 19.05 in the Width box (19.05cm is our maximum allowable width for figures).
In GIMP: Image→Scale Image. Set the units of measurement, in the pull down menu next to

[2019-06-10 19:34] dhimmel commented on #234
# Figure 3

Okay so Figure 3 is a TIFF, located [here](https://github.com/greenelab/meta-review/blob/362b839108fdcb109ede7dc29a2492303cec62fe/plos-comp-bio/figures/Fig3.tif).

Vince mentioned in the past that raster images don't have size dimensions, just a number of pixels. If this is true, I'm not sure how PLOS is determining that the dimension is too large (maybe by text size). I wonder if we c

[2019-06-10 19:39] vincerubinetti commented on #234
I should clarify that image formats might support a dpi metadata, but in most cases (at least for me) the dpi is irrelevant, and a simple 1 to 1 pixel mapping is used (eg web browsers seem to ignore any dpi metadata). See this StackOverflow post for more info.

https://stackoverflow.com/questions/27323561/do-pngs-or-jpgs-have-a-dpi-or-is-it-irrelevant-when-building-for-retina

Tiffs, if I recall c

[2019-06-10 19:42] vincerubinetti commented on #234
@agitter Sorry for the delay in response.

Unfortunately I think I may have to go and recreate that whole figure at a higher resolution.

[2019-06-10 19:53] dhimmel commented on #234
Okay that makes sense then why we would have failed that PLOS check. Let's have the new figure set a DPI that results in a Figure width of 7.5 inches. 600 dpi or greater at 7.5 inches would be ideal. The PLOS figure guidelines state:

So we should probably submit at 600 dpi. I imagine users may zoom in for this figure.

[2019-06-10 20:11] dhimmel commented on #234
Note that to remake the Hypothesis panel of Figure 3, we will need to deal with the relocation of the TPOT repo and transfer of annotations as per https://github.com/greenelab/meta-review/pull/189#issuecomment-480323358.

[2019-06-10 20:33] dhimmel commented on #234
# TPOT-FSS panel

I see that if we add the following to the [manuscript HTML](https://github.com/trang1618/tpot-fss-ms/blob/859af7b8e617098efe812e8d79a8d074f05967f9/manuscript.html) `<head>`, then the annotations transfer:

[code]

Here's a version of the HTML with that line added for convenience: [tpot-fss-article.zip](https://github.com/greenelab/meta-review/files/3273672/tpot-fss-article.zip).

[2019-06-10 21:44] vincerubinetti commented on #234
Addressed by #240

[2019-06-11 18:06] #233 closed

[2019-06-11 18:31] dhimmel commented on #233
More info at https://journals.plos.org/ploscompbiol/s/submission-guidelines#loc-references

[2019-06-11 21:28] agitter commented on #233
One formatting question I'm still unclear about is whether they will take all of our inline links throughout the text.  Do we need to reformat those as URL citations?

[2019-06-12 14:45] agitter commented on #235
Is there anything in https://github.com/manubot/manubot.org/pull/11 we may want to use as a striking image?  [automated-1.png](https://github.com/manubot/manubot.org/blob/275d235415f0287fb5cebe8f2fb58ba4fee9d324/images/automated-1.png) is my favorite so far.  I realize more images are incoming too.

[2019-06-12 14:47] agitter commented on #226
@dhimmel it looks like we are getting pretty close to finishing the formatting changes.  Once we resolve the remaining reference formatting issues in https://github.com/greenelab/meta-review/pull/241 (or rather those that we want to address), we should be able to quickly finish everything and resubmit.

[2019-06-13 01:56] dhimmel commented on #235
Yes I think there are several good options there. My preferences in order:

1. [`automated-1.png`](https://github.com/manubot/manubot.org/blob/fa48ae3bbef46c4b2a6de152c6553a642c847903/images/automated-1.png)
2. [`open-1.png`](https://github.com/manubot/manubot.org/blob/fa48ae3bbef46c4b2a6de152c6553a642c847903/images/open-1.png)
3. somthing like [`interactive-2.png`](https://github.com/manubot/manu

[2019-06-13 02:00] dhimmel commented on #233
I'm opposed to polluting our reference section with hyperlinks. Is there any indication that PLOS CB want us reformat hyperlinks as citations?

I would say we just wait to the proof stage to see if they make it though. I think their system is technically capable of publishing hyperlinks, although there is a chance they get removed by the default workflow.

[2019-06-13 02:13] slochower commented on #235
+1 for `automated-1.png`

[2019-06-13 11:33] agitter commented on #233
No, I haven't seen any indication that they want us to change the hyperlinks.  I checked a few papers from their current home page and saw that they write out the URL for hyperlinks:

https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007044
- `OpenCV ver. 3.3.1 (https://opencv.org/).`
- `ImageJ (https://imagej.nih.gov)`

https://journals.plos.org/ploscompbiol/article?id=10.13

[2019-06-13 11:35] agitter commented on #235
Let's use `automated-1.png` as the striking image.  I'm leaving this open until I upload it into the submission system.

[2019-06-13 19:34] #234 closed

[2019-06-13 20:22] agitter commented on #226
I believe we are ready to resubmit after merging #242 and #243.

It's not clear to me whether we need to generate another diff for this submission.  The submission system states

But perhaps that assumes we already submitted a DOCX version previously?  I plan to submit without a diff and generate one later if they need it.  I will start with the final https://github.com/greenelab/meta-review/blob/

[2019-06-14 13:07] #235 closed

[2019-06-14 13:29] dhimmel commented on #226
@agitter great. I'll be available for the next couple hours but then will go offline for 5 days. So hopefully you will be able to move forward with the resubmission!

[2019-06-14 15:26] #229 closed

[2019-06-14 15:31] agitter commented on #226
@dhimmel I'm starting the submission process.  If I need to make any minor changes at the last minute, I may self-approve the PR so that we don't have to wait for you to return.

[2019-06-14 15:31] agitter commented on #232
Closing this issue.  I'll do it manually.